In [14]:
import pandas as pd
import seaborn as sns
import os 
import matplotlib.pyplot as plt

In [21]:
!pwd

/home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train

In [2]:
import os
import pandas as pd

directory_path = '/home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train'
file_paths = [os.path.join(directory_path, filename) for filename in os.listdir(directory_path)]
chunk_size = 5000
chunks_to_read_per_file = 3  # Adjust the number of chunks to read

# Initialize an empty list to store DataFrames
all_dataframes = []

# Initialize an empty list to store file names
file_names = []

# Process files in chunks
for file_path in file_paths:
    print(f'Processing file: {file_path}')
    chunk_iter = pd.read_csv(file_path, chunksize=chunk_size, low_memory=False)
    for i, chunk in enumerate(chunk_iter):
        if i >= chunks_to_read_per_file:
            break  # Exit the loop if the desired number of chunks have been read
        
        # Data cleaning and processing...
        chunk.columns = [col.lower() for col in chunk.columns]
        
        # Display sample of rows from the processed chunk
        print(f'Sample of rows from Chunk {i}:')
        print(chunk.sample(n=5))  # Adjust n to the number of rows
        
        # Append the chunk DataFrame to the list
        all_dataframes.append(chunk)
        
        # Append the file name to the list for each row in the chunk
        file_names.extend([os.path.basename(file_path)] * len(chunk))

# Concatenate all DataFrames into a single DataFrame
df = pd.concat(all_dataframes)

# Create a DataFrame for file_names and reset the index
file_names_df = pd.DataFrame({'source_file': file_names}).reset_index(drop=True)

# Reset the index of df
df.reset_index(drop=True, inplace=True)

# Join the source_file column to df
df = pd.concat([df, file_names_df], axis=1)

Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_3.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
1902    21849                        a55475b1                        a55475b1
3396    21863                        a55475b1                        a55475b1
174     21758                        a55475b1                        a55475b1
1736    21845                        a55475b1                        a55475b1
4559    21878                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
1902                              NaN                             NaN
3396                              NaN                             NaN
174                               NaN                             NaN
1736                              NaN                             NaN
4559                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
1902                        a55475b1                        a55475b1
3396                        a55475b1                        a55475b1
174                         a55475b1                        a55475b1
1736                        a55475b1                        a55475b1
4559                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
1902           1          18             0.0            NaN              8.0
3396           5          24             NaN            0.0              NaN
174            0          30             NaN            NaN              8.0
1736           0           8             0.0            NaN             10.0
4559           0          11             0.0          500.0              1.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
1902              NaN                 0.0                 NaN
3396              2.0                 NaN                 0.0
174               NaN                 NaN                 NaN
1736             10.0                 0.0                 NaN
4559              1.0                 0.0             22255.4

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
1902           2018.0             NaN               a55475b1
3396              NaN          2014.0               a55475b1
174            2019.0             NaN               a55475b1
1736           2018.0          2019.0               a55475b1
4559           2018.0          2010.0               a55475b1

     subjectroles_name_838m
1902               a55475b1
3396               a55475b1
174                a55475b1
1736               a55475b1
4559               a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
8269    21935                        a55475b1                        a55475b1
7432    21920                        a55475b1                        a55475b1
8235    21935                        a55475b1                        a55475b1
7353    21918                        a55475b1                        a55475b1
5639    21893                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
8269                              NaN                             NaN
7432                              NaN                             NaN
8235                              NaN                             NaN
7353                              NaN                             NaN
5639                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
8269                        a55475b1                        a55475b1
7432                        a55475b1                        a55475b1
8235                        a55475b1                        a55475b1
7353                        a55475b1                        a55475b1
5639                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
8269           1           1             NaN            NaN              NaN
7432           1           4             NaN            NaN              6.0
8235           0           3             NaN            NaN              5.0
7353           3          21             NaN            NaN              NaN
5639           4          11             NaN            0.0              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
8269              3.0                 NaN                 NaN
7432              NaN                 NaN                 NaN
8235              5.0                 NaN                 NaN
7353             11.0                 NaN                 NaN
5639              1.0                 NaN                 0.0

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
8269              NaN          2007.0               a55475b1
7432           2018.0             NaN               a55475b1
8235           2017.0          2006.0               a55475b1
7353              NaN          2019.0               a55475b1
5639              NaN          2009.0               a55475b1

     subjectroles_name_838m
8269               a55475b1
7432               a55475b1
8235               a55475b1
7353               a55475b1
5639               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
13255    22015                        a55475b1
10114    21960                        a55475b1
14418    22033                        a55475b1
11495    21980                        a55475b1
14890    22043                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
13255                        a55475b1                              NaN
10114                        a55475b1                              NaN
14418                        a55475b1                              NaN
11495                        a55475b1                              NaN
14890                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
13255                             NaN                        a55475b1
10114                             NaN                        a55475b1
14418                             NaN                        a55475b1
11495                             NaN                        a55475b1
14890                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
13255                        a55475b1           0           7             NaN
10114                        a55475b1           1          22             NaN
14418                        a55475b1           4           6             NaN
11495                        a55475b1           0          23             0.0
14890                        a55475b1           2          22             NaN

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
13255            NaN              9.0              9.0                 NaN
10114            0.0              NaN             12.0                 NaN
14418            NaN              NaN              8.0                 NaN
11495            NaN              1.0              1.0                 0.0
14890            NaN             12.0             12.0                 NaN

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
13255                 NaN           2017.0          2018.0
10114                 0.0              NaN          2009.0
14418                 NaN              NaN          2019.0
11495                 NaN           2019.0          2019.0
14890                 NaN           2019.0          2019.0

      subjectroles_name_541m subjectroles_name_838m
13255               a55475b1               a55475b1
10114               a55475b1               a55475b1
14418               a55475b1               a55475b1
11495               a55475b1               a55475b1
14890               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_1_0.csv
Sample of rows from Chunk 0:
      case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
2899      785                       NaN                      NaN
2442      730                       NaN                      NaN
1161      559                       NaN                      NaN
3689      890                       NaN                      NaN
1770      634                       NaN                      NaN

     classificationofcontr_13m classificationofcontr_400m contractst_545m  \
2899                  a55475b1                   a55475b1        a55475b1
2442                  a55475b1                   a55475b1        a55475b1
1161                  a55475b1                   a55475b1        a55475b1
3689                  ea6782cc                   a55475b1        7241344e
1770                  a55475b1                   a55475b1        a55475b1

     contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
2899        a55475b1                   NaN           NaN           NaN  ...
2442        a55475b1                   NaN           NaN           NaN  ...
1161        a55475b1                   NaN           NaN           NaN  ...
3689        a55475b1                   NaN           NaN       16000.0  ...
1770        a55475b1                   NaN           NaN           NaN  ...

     residualamount_488a  residualamount_856a  subjectrole_182m  \
2899                 NaN                  NaN          a55475b1
2442                 NaN                  NaN          a55475b1
1161                 NaN                  NaN          a55475b1
3689                 NaN            14910.156          ab3c25cf
1770                 NaN                  NaN          a55475b1

     subjectrole_93m  totalamount_6a  totalamount_996a  \
2899        a55475b1             NaN               NaN
2442        a55475b1             NaN               NaN
1161        a55475b1             NaN               NaN
3689        a55475b1             NaN               NaN
1770        a55475b1             NaN               NaN

      totaldebtoverduevalue_178a totaldebtoverduevalue_718a  \
2899                         NaN                        NaN
2442                         NaN                        NaN
1161                         NaN                        NaN
3689                         0.0                        NaN
1770                         NaN                        NaN

      totaloutstanddebtvalue_39a  totaloutstanddebtvalue_668a
2899                         NaN                          NaN
2442                         NaN                          NaN
1161                         NaN                          NaN
3689                   14910.156                          NaN
1770                         NaN                          NaN

[5 rows x 79 columns]

Sample of rows from Chunk 1:
      case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
5509     1130                       NaN                      NaN
7147     1363                       NaN                      NaN
9061     1635                       NaN                      NaN
5595     1142                       NaN                      NaN
5791     1169                       NaN                      NaN

     classificationofcontr_13m classificationofcontr_400m contractst_545m  \
5509                  a55475b1                   a55475b1        a55475b1
7147                  a55475b1                   a55475b1        a55475b1
9061                  a55475b1                   a55475b1        a55475b1
5595                  ea6782cc                   a55475b1        7241344e
5791                  a55475b1                   a55475b1        a55475b1

     contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
5509        a55475b1                   NaN           NaN           NaN  ...
7147        a55475b1                   NaN           NaN           NaN  ...
9061        a55475b1                   NaN           NaN           NaN  ...
5595        a55475b1                   NaN           NaN       30000.0  ...
5791        a55475b1                   NaN           NaN           NaN  ...

     residualamount_488a  residualamount_856a  subjectrole_182m  \
5509                 NaN                  NaN          a55475b1
7147                 NaN                  NaN          a55475b1
9061                 NaN                  NaN          a55475b1
5595                 NaN              17613.4          a55475b1
5791                 NaN                  NaN          a55475b1

     subjectrole_93m  totalamount_6a  totalamount_996a  \
5509        a55475b1             NaN               NaN
7147        a55475b1             NaN               NaN
9061        a55475b1             NaN               NaN
5595        a55475b1             NaN               NaN
5791        a55475b1             NaN               NaN

      totaldebtoverduevalue_178a totaldebtoverduevalue_718a  \
5509                         NaN                        NaN
7147                         NaN                        NaN
9061                         NaN                        NaN
5595                         NaN                        NaN
5791                         NaN                        NaN

      totaloutstanddebtvalue_39a  totaloutstanddebtvalue_668a
5509                         NaN                          NaN
7147                         NaN                          NaN
9061                         NaN                          NaN
5595                         NaN                          NaN
5791                         NaN                          NaN

[5 rows x 79 columns]
Sample of rows from Chunk 2:
       case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
14642     2436                       NaN                      NaN
13763     2308                       NaN                      NaN
12873     2196                       NaN                      NaN
11019     1910                       NaN                      NaN
14268     2382                       NaN                      NaN

      classificationofcontr_13m classificationofcontr_400m contractst_545m  \
14642                  ea6782cc                   a55475b1        7241344e
13763                  a55475b1                   a55475b1        a55475b1
12873                  a55475b1                   a55475b1        a55475b1
11019                  a55475b1                   a55475b1        a55475b1
14268                  a55475b1                   a55475b1        a55475b1

      contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
14642        a55475b1                   NaN           NaN       30994.0  ...
13763        a55475b1                   NaN           NaN           NaN  ...
12873        a55475b1                   NaN           NaN           NaN  ...
11019        a55475b1                   NaN           NaN           NaN  ...
14268        a55475b1                   NaN           NaN           NaN  ...

      residualamount_488a  residualamount_856a  subjectrole_182m  \
14642                 NaN            19003.123          ab3c25cf
13763                 NaN                  NaN          a55475b1
12873                 NaN                  NaN          a55475b1
11019                 NaN                  NaN          a55475b1
14268                 NaN                  NaN          a55475b1

      subjectrole_93m  totalamount_6a  totalamount_996a  \
14642        ab3c25cf             NaN               NaN
13763        a55475b1             NaN               NaN
12873        a55475b1             NaN               NaN
11019        a55475b1             NaN               NaN
14268        a55475b1             NaN               NaN

       totaldebtoverduevalue_178a totaldebtoverduevalue_718a  \
14642                         0.0                        0.0
13763                         NaN                        NaN
12873                         NaN                        NaN
11019                         NaN                        NaN
14268                         NaN                        NaN

       totaloutstanddebtvalue_39a  totaloutstanddebtvalue_668a
14642                   19003.123                          0.0
13763                         NaN                          NaN
12873                         NaN                          NaN
11019                         NaN                          NaN
14268                         NaN                          NaN

[5 rows x 79 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_person_1.csv
Sample of rows from Chunk 0:
      case_id  birth_259d birthdate_87d  childnum_185l contaddr_district_15m  \
3431      947         NaN           NaN            NaN              a55475b1
1764      483  1944-08-01           NaN            NaN          P111_125_171
3795     1044         NaN           NaN            NaN              a55475b1
4666     1290  1993-07-01           NaN            NaN            P152_70_56
637       171         NaN           NaN            NaN              a55475b1

     contaddr_matchlist_1032l contaddr_smempladdr_334l contaddr_zipcode_807m  \
3431                      NaN                      NaN              a55475b1
1764                    False                    False          P124_113_106
3795                      NaN                      NaN              a55475b1
4666                    False                    False           P104_48_171
637                       NaN                      NaN              a55475b1

     education_927m empl_employedfrom_271d  ... registaddr_district_1083m  \
3431       a55475b1                    NaN  ...                  a55475b1
1764    P33_146_175                    NaN  ...              P111_125_171
3795       a55475b1                    NaN  ...                  a55475b1
4666    P33_146_175             2014-01-15  ...                P152_70_56
637        a55475b1                    NaN  ...                  a55475b1

     registaddr_zipcode_184m relationshiptoclient_415t  \
3431                a55475b1                     CHILD
1764            P124_113_106                       NaN
3795                a55475b1                     CHILD
4666             P104_48_171                       NaN
637                 a55475b1                       NaN

     relationshiptoclient_642t remitter_829l role_1084l  role_993l  \
3431                    SPOUSE         False         PE        NaN
1764                       NaN           NaN         CL        NaN
3795                     CHILD         False         PE        NaN
4666                       NaN           NaN         EM        NaN
637             OTHER_RELATIVE           NaN         PE        NaN

     safeguarantyflag_411l sex_738l        type_25l
3431                   NaN      NaN           PHONE
1764                  True        F  PRIMARY_MOBILE
3795                   NaN      NaN           PHONE
4666                  True        F  PRIMARY_MOBILE
637                    NaN      NaN           PHONE

[5 rows x 37 columns]
Sample of rows from Chunk 1:

      case_id  birth_259d birthdate_87d  childnum_185l contaddr_district_15m  \
8017     2244  1987-03-01           NaN            NaN          P111_125_171
5799     1619  1949-06-01           NaN            NaN           P120_41_170
6102     1702         NaN           NaN            NaN              a55475b1
6280     1754         NaN           NaN            NaN              a55475b1
8184     2290         NaN           NaN            NaN              a55475b1

     contaddr_matchlist_1032l contaddr_smempladdr_334l contaddr_zipcode_807m  \
8017                    False                    False          P169_120_106
5799                    False                    False          P204_133_156
6102                      NaN                      NaN              a55475b1
6280                      NaN                      NaN              a55475b1
8184                      NaN                      NaN              a55475b1

     education_927m empl_employedfrom_271d  ... registaddr_district_1083m  \
8017     P97_36_170             2018-07-15  ...              P111_125_171
5799    P157_18_172                    NaN  ...               P120_41_170
6102       a55475b1                    NaN  ...                  a55475b1
6280       a55475b1                    NaN  ...                  a55475b1
8184       a55475b1                    NaN  ...                  a55475b1

     registaddr_zipcode_184m relationshiptoclient_415t  \
8017            P169_120_106                       NaN
5799            P204_133_156                       NaN
6102                a55475b1                       NaN
6280                a55475b1                   SIBLING
8184                a55475b1                       NaN

     relationshiptoclient_642t remitter_829l role_1084l  role_993l  \
8017                       NaN           NaN         CL        NaN
5799                       NaN           NaN         CL        NaN
6102                    PARENT           NaN         PE        NaN
6280                   SIBLING         False         PE        NaN
8184                    FRIEND           NaN         PE        NaN

     safeguarantyflag_411l sex_738l        type_25l
8017                  True        F  PRIMARY_MOBILE
5799                  True        M  PRIMARY_MOBILE
6102                   NaN      NaN           PHONE
6280                   NaN      NaN           PHONE
8184                   NaN      NaN           PHONE

[5 rows x 37 columns]
Sample of rows from Chunk 2:
       case_id  birth_259d birthdate_87d  childnum_185l contaddr_district_15m  \
10848     3045  1972-08-01           NaN            NaN            P49_127_19
12919     3618  1974-07-01           NaN            NaN            P93_57_167
12360     3466         NaN           NaN            NaN              a55475b1
11865     3329         NaN           NaN            NaN              a55475b1
14581     4079         NaN           NaN            NaN              a55475b1

      contaddr_matchlist_1032l contaddr_smempladdr_334l contaddr_zipcode_807m  \
10848                    False                    False           P163_46_172
12919                    False                    False           P182_156_59
12360                      NaN                      NaN              a55475b1
11865                      NaN                      NaN              a55475b1
14581                      NaN                      NaN              a55475b1

      education_927m empl_employedfrom_271d  ... registaddr_district_1083m  \
10848     P97_36_170             2015-01-15  ...                P49_127_19
12919     P97_36_170             2018-06-15  ...                P93_57_167
12360       a55475b1                    NaN  ...                  a55475b1
11865       a55475b1                    NaN  ...                  a55475b1
14581       a55475b1                    NaN  ...                  a55475b1

      registaddr_zipcode_184m relationshiptoclient_415t  \
10848             P163_46_172                       NaN
12919             P182_156_59                       NaN
12360                a55475b1                       NaN
11865                a55475b1                    FRIEND
14581                a55475b1                   SIBLING

      relationshiptoclient_642t remitter_829l role_1084l  role_993l  \
10848                       NaN           NaN         EM        NaN
12919                       NaN           NaN         CL        NaN
12360                    FRIEND           NaN         PE        NaN
11865                       NaN         False         EM        NaN
14581                       NaN         False         EM        NaN

      safeguarantyflag_411l sex_738l           type_25l
10848                  True        M     PRIMARY_MOBILE
12919                  True        M     PRIMARY_MOBILE
12360                   NaN      NaN              PHONE
11865                   NaN      NaN  ALTERNATIVE_PHONE
14581                   NaN      NaN              PHONE

[5 rows x 37 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_b_2.csv
Sample of rows from Chunk 0:
      case_id  num_group1  num_group2 pmts_date_1107d  pmts_dpdvalue_108p  \
937     11233           1          14      2018-04-15                 0.0
2316    14059           0          19      2017-12-15                 0.0
2589    14284           0           2      2017-05-15                 0.0
4031    16001           0          16      2017-09-15                 0.0
4726    16498           1           7      2018-12-15                 0.0

      pmts_pmtsoverdue_635a
937                     0.0
2316                    0.0
2589                    0.0
4031                    0.0
4726                    0.0
Sample of rows from Chunk 1:
      case_id  num_group1  num_group2 pmts_date_1107d  pmts_dpdvalue_108p  \
6849    18624           0           0      2017-08-15                 0.0
6295    18115           0          16      2018-06-15              5287.0
8704    20814           0           9      2019-06-15                 0.0
5246    17356           0          18      2017-12-15                 0.0
7083    18880           1           6      2019-03-15                 0.0

      pmts_pmtsoverdue_635a
6849                    0.0
6295                    0.8
8704                    0.0
5246                    0.0
7083                    0.0
Sample of rows from Chunk 2:
       case_id  num_group1  num_group2 pmts_date_1107d  pmts_dpdvalue_108p  \
11419    23200           2           0      2019-06-15                 0.0
12088    24110           0           3      2019-03-15                 0.0
14290    32399           4           0      2019-09-15                 0.0
12549    24570           1          15      2017-10-15                 0.0
13636    32164           0          26      2019-09-15                 0.0

       pmts_pmtsoverdue_635a
11419                    0.0
12088                    0.0
14290                    0.0
12549                    0.0
13636                    0.0
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_4.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
218     29500                        a55475b1                        a55475b1
4827    29748                        a55475b1                        a55475b1
1541    29708                        a55475b1                        a55475b1
1868    29711                        a55475b1                        a55475b1
51      29465                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
218                               NaN                             NaN
4827                              NaN                             NaN
1541                              NaN                             NaN
1868                              NaN                             NaN
51                                NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
218                         a55475b1                        a55475b1
4827                        a55475b1                        a55475b1
1541                        a55475b1                        a55475b1
1868                        a55475b1                        a55475b1
51                          a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
218            2          14             NaN            0.0              NaN
4827           0          15             NaN            0.0              NaN
1541           1           5             NaN            NaN              7.0
1868           0           8             NaN            0.0             10.0
51             1           3             NaN            0.0              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
218               4.0                 NaN                 0.0
4827              5.0                 NaN                 0.0
1541              NaN                 NaN                 NaN
1868             10.0                 NaN                 0.0
51                5.0                 NaN                 0.0

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
218               NaN          2017.0               a55475b1
4827              NaN          2006.0               a55475b1
1541           2018.0             NaN               a55475b1
1868           2019.0          2014.0               a55475b1
51                NaN          2010.0               a55475b1

     subjectroles_name_838m
218                a55475b1
4827               a55475b1
1541               a55475b1
1868               a55475b1
51                 a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
6043    29758                        a55475b1                        a55475b1
7765    29787                        a55475b1                        a55475b1
8644    29801                        a55475b1                        a55475b1
8591    29798                        a55475b1                        a55475b1
9491    29819                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
6043                              NaN                             NaN
7765                              NaN                             NaN
8644                              NaN                             NaN
8591                              NaN                             NaN
9491                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
6043                        a55475b1                        a55475b1
7765                        a55475b1                        a55475b1
8644                        a55475b1                        a55475b1
8591                        a55475b1                        a55475b1
9491                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
6043           1           7             NaN            0.0              NaN
7765           1          13             NaN            0.0              NaN
8644           0          16             NaN            NaN              NaN
8591           6          11             NaN            0.0              NaN
9491           2          23             NaN            0.0              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
6043              9.0                 NaN                 0.0
7765              3.0                 NaN                 0.0
8644              6.0                 NaN                 NaN
8591              1.0                 NaN                 0.0
9491              1.0                 NaN                 0.0

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
6043              NaN          2012.0               a55475b1
7765              NaN          2009.0               a55475b1
8644              NaN          2005.0               a55475b1
8591              NaN          2018.0               a55475b1
9491              NaN          2010.0               a55475b1

     subjectroles_name_838m
6043               a55475b1
7765               a55475b1
8644               a55475b1
8591               a55475b1
9491               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
10918    29838                        a55475b1
14388    29878                        a55475b1
12591    29846                        a55475b1
10233    29829                        a55475b1
11007    29838                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
10918                        a55475b1                              NaN
14388                        a55475b1                              NaN
12591                        a55475b1                              NaN
10233                        a55475b1                              NaN
11007                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
10918                             NaN                        a55475b1
14388                             NaN                        a55475b1
12591                             NaN                        a55475b1
10233                             NaN                        a55475b1
11007                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
10918                        a55475b1           0          34             NaN
14388                        a55475b1           0          12             0.0
12591                        a55475b1           0           3             NaN
10233                        a55475b1           2           9             NaN
11007                        a55475b1           4           3             NaN

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
10918            NaN             12.0              NaN                 NaN
14388            0.0              2.0              2.0                 0.0
12591            NaN              5.0              5.0                 NaN
10233            0.0              NaN             11.0                 NaN
11007            NaN              NaN              5.0                 NaN

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
10918                 NaN           2019.0             NaN
14388                 0.0           2018.0          2007.0
12591                 NaN           2017.0          2007.0
10233                 0.0              NaN          2016.0
11007                 NaN              NaN          2016.0

      subjectroles_name_541m subjectroles_name_838m
10918               a55475b1               a55475b1
14388               a55475b1               a55475b1
12591               a55475b1               a55475b1
10233               a55475b1               a55475b1
11007               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_deposit_1.csv

Sample of rows from Chunk 0:
      case_id  amount_416a contractenddate_991d  num_group1 openingdate_313d
2748   109229      274.698           2017-12-01           0       2013-12-02
777     39800      554.238           2018-10-29           0       2014-04-30
95       4745        0.000           2017-11-10           0       2013-11-11
3560   112303      204.484                  NaN           0       2017-05-30
4029   114161      294.202           2018-04-08           1       2015-04-09
Sample of rows from Chunk 1:
      case_id  amount_416a contractenddate_991d  num_group1 openingdate_313d
6787   125771    272.35602           2018-02-02           0       2014-02-03
8941   135661      0.00000                  NaN           1       2017-01-31
9825   139812    481.47800           2018-10-30           1       2014-05-01
6664   125078      0.00000                  NaN           3       2015-07-03
6193   122820    203.76600           2017-09-01           0       2015-09-02
Sample of rows from Chunk 2:
       case_id  amount_416a contractenddate_991d  num_group1 openingdate_313d
14151   159823      271.716           2017-11-27           0       2014-11-28
14618   161656     1017.068           2017-11-03           0       2015-11-03
14075   159454      202.002           2018-04-07           0       2016-04-08
13240   155272      362.384           2019-12-26           0       2013-12-27
11297   146774        0.000                  NaN           0       2014-01-23
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_applprev_2.csv
Sample of rows from Chunk 0:
      case_id  cacccardblochreas_147m conts_type_509l  \
1398      855                     NaN  PRIMARY_MOBILE
1375      839                     NaN  PRIMARY_MOBILE
344       185                     NaN  PRIMARY_MOBILE
4678     2772                     NaN  PRIMARY_MOBILE
4157     2480                     NaN  PRIMARY_MOBILE

     credacc_cards_status_52l  num_group1  num_group2
1398                      NaN           0           0
1375                      NaN           1           0
344                       NaN           2           1
4678                      NaN           0           1
4157                      NaN           0           2
Sample of rows from Chunk 1:
      case_id  cacccardblochreas_147m   conts_type_509l  \
5130     3075                     NaN  EMPLOYMENT_PHONE
8531     5003                     NaN    PRIMARY_MOBILE
8103     4816                     NaN  EMPLOYMENT_PHONE
7025     4148                     NaN    PRIMARY_MOBILE
8951     5269                     NaN    PRIMARY_MOBILE

     credacc_cards_status_52l  num_group1  num_group2
5130                      NaN           0           0
8531                      NaN           0           0
8103                      NaN           9           0
7025                      NaN           2           1
8951                      NaN           2           2
Sample of rows from Chunk 2:
       case_id  cacccardblochreas_147m conts_type_509l  \
11163     6642                     NaN  PRIMARY_MOBILE
10004     5949                     NaN  PRIMARY_MOBILE
12007     7137                     NaN           PHONE
14208     8621                     NaN      HOME_PHONE
11538     6873                     NaN  PRIMARY_MOBILE

      credacc_cards_status_52l  num_group1  num_group2
11163                      NaN           0           0
10004                      NaN           4           0
12007                      NaN           2           0
14208                      NaN           1           1
11538                      NaN           0           1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_1_1.csv
Sample of rows from Chunk 0:
      case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
3849    20581                       NaN                      NaN
888     20229                       NaN                      NaN
2095    20384                       NaN                      NaN
2183    20392                       NaN                      NaN
4804    20695                       NaN                      NaN

     classificationofcontr_13m classificationofcontr_400m contractst_545m  \
3849                  a55475b1                   a55475b1        a55475b1
888                   a55475b1                   a55475b1        a55475b1
2095                  a55475b1                   a55475b1        a55475b1
2183                  a55475b1                   ea6782cc        a55475b1
4804                  a55475b1                   a55475b1        a55475b1

     contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
3849        a55475b1                   NaN           NaN           NaN  ...
888         a55475b1                   NaN           NaN           NaN  ...
2095        a55475b1                   NaN           NaN           NaN  ...
2183        7241344e                   NaN           NaN     1400000.0  ...
4804        a55475b1                   NaN           NaN           NaN  ...

     residualamount_488a residualamount_856a subjectrole_182m subjectrole_93m  \
3849                 NaN                 NaN         a55475b1        a55475b1
888                  NaN                 NaN         a55475b1        a55475b1
2095                 NaN                 NaN         a55475b1        a55475b1
2183                 NaN                 NaN         ab3c25cf        ab3c25cf
4804                 NaN                 NaN         a55475b1        a55475b1

     totalamount_6a  totalamount_996a  totaldebtoverduevalue_178a  \
3849            NaN               NaN                         NaN
888             NaN               NaN                         NaN
2095            NaN               NaN                         NaN
2183      1400000.0               NaN                         0.0
4804            NaN               NaN                         NaN

     totaldebtoverduevalue_718a  totaloutstanddebtvalue_39a  \
3849                        NaN                         NaN
888                         NaN                         NaN
2095                        NaN                         NaN
2183                        0.0                         0.0
4804                        NaN                         NaN

      totaloutstanddebtvalue_668a
3849                          NaN
888                           NaN
2095                          NaN
2183                          0.0
4804                          NaN

[5 rows x 79 columns]
Sample of rows from Chunk 1:
      case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
6508    20887                       NaN                      NaN
6434    20880                       NaN                      NaN
6316    20866                       NaN                      NaN
5349    20758                       NaN                      NaN
6993    20948                       NaN                      NaN

     classificationofcontr_13m classificationofcontr_400m contractst_545m  \
6508                  a55475b1                   a55475b1        a55475b1
6434                  a55475b1                   a55475b1        a55475b1
6316                  a55475b1                   4d2436d9        a55475b1
5349                  a55475b1                   ea6782cc        a55475b1
6993                  a55475b1                   a55475b1        a55475b1

     contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
6508        a55475b1                   NaN           NaN           NaN  ...
6434        a55475b1                   NaN           NaN           NaN  ...
6316        8f3a197f                   NaN           NaN           NaN  ...
5349        7241344e                   NaN       45600.0           NaN  ...
6993        a55475b1                   NaN           NaN           NaN  ...

     residualamount_488a residualamount_856a subjectrole_182m subjectrole_93m  \
6508                 NaN                 NaN         a55475b1        a55475b1
6434                 NaN                 NaN         a55475b1        a55475b1
6316                 NaN                 NaN         a55475b1        a55475b1
5349                 0.0                 NaN         a55475b1        a55475b1
6993                 NaN                 NaN         a55475b1        a55475b1

     totalamount_6a  totalamount_996a  totaldebtoverduevalue_178a  \
6508            NaN               NaN                         NaN
6434            NaN               NaN                         NaN
6316        10289.4               NaN                         NaN
5349            NaN               NaN                         NaN
6993            NaN               NaN                         NaN

     totaldebtoverduevalue_718a  totaloutstanddebtvalue_39a  \
6508                        NaN                         NaN
6434                        NaN                         NaN
6316                        NaN                         NaN
5349                        NaN                         NaN
6993                        NaN                         NaN

      totaloutstanddebtvalue_668a
6508                          NaN
6434                          NaN
6316                          NaN
5349                          NaN
6993                          NaN

[5 rows x 79 columns]
Sample of rows from Chunk 2:
       case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
14242    21800                       NaN                      NaN
12581    21599                       NaN                      NaN
14280    21805                       NaN                      NaN
10888    21403                       NaN                      NaN
10963    21412                       NaN                      NaN

      classificationofcontr_13m classificationofcontr_400m contractst_545m  \
14242                  a55475b1                   a55475b1        a55475b1
12581                  ea6782cc                   ea6782cc        7241344e
14280                  a55475b1                   a55475b1        a55475b1
10888                  a55475b1                   a55475b1        a55475b1
10963                  a55475b1                   ea6782cc        a55475b1

      contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
14242        a55475b1                   NaN           NaN           NaN  ...
12581        7241344e                   NaN           NaN           NaN  ...
14280        a55475b1                   NaN           NaN           NaN  ...
10888        a55475b1                   NaN           NaN           NaN  ...
10963        7241344e                   NaN           NaN           NaN  ...

      residualamount_488a residualamount_856a subjectrole_182m  \
14242                 NaN                 NaN         a55475b1
12581                 NaN                 NaN         ab3c25cf
14280                 NaN                 NaN         a55475b1
10888                 NaN                 NaN         a55475b1
10963                 NaN                 NaN         a55475b1

      subjectrole_93m totalamount_6a  totalamount_996a  \
14242        a55475b1            NaN               NaN
12581        ab3c25cf        20395.0          120000.0
14280        a55475b1            NaN               NaN
10888        a55475b1            NaN               NaN
10963        a55475b1        34000.0               NaN

       totaldebtoverduevalue_178a totaldebtoverduevalue_718a  \
14242                         NaN                        NaN
12581                         0.0                        0.0
14280                         NaN                        NaN
10888                         NaN                        NaN
10963                         NaN                        NaN

       totaloutstanddebtvalue_39a  totaloutstanddebtvalue_668a
14242                         NaN                          NaN
12581                    82281.96                          0.0
14280                         NaN                          NaN
10888                         NaN                          NaN
10963                         NaN                          NaN

[5 rows x 79 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_debitcard_1.csv
Sample of rows from Chunk 0:
      case_id  last180dayaveragebalance_704a  last180dayturnover_1134a  \
80       3886                            NaN                       NaN
1632   104657                            NaN                       NaN
1489   104259                            NaN                       NaN
2202   106691                      28.160002                     900.0
2341   107228                            NaN                       NaN

      last30dayturnover_651a  num_group1 openingdate_857d
80                       NaN           0       2014-11-15
1632                     NaN           0       2015-09-24
1489                     NaN           0       2015-11-05
2202                     0.0           0              NaN
2341                     NaN           0       2014-03-31

Sample of rows from Chunk 1:
      case_id  last180dayaveragebalance_704a  last180dayturnover_1134a  \
5662   119018                            NaN                       NaN
8743   131401                            NaN                       NaN
7180   124787                            0.0                    5319.6
7026   123969                            0.0                   20000.0
5862   119730                            NaN                       NaN

      last30dayturnover_651a  num_group1 openingdate_857d
5662                     NaN           1       2014-08-26
8743                     NaN           0       2013-11-14
7180                     0.0           0              NaN
7026                     0.0           0              NaN
5862                     NaN           0       2017-03-07
Sample of rows from Chunk 2:
       case_id  last180dayaveragebalance_704a  last180dayturnover_1134a  \
14139   154074                            NaN                       NaN
14762   156772                            NaN                       NaN
13938   153128                            NaN                       NaN
10181   137369                            NaN                       NaN
13544   151679                            NaN                       NaN

       last30dayturnover_651a  num_group1 openingdate_857d
14139                     NaN           0       2014-07-23
14762                     NaN           0       2014-03-12
13938                     NaN           0       2013-12-06
10181                     NaN           0       2017-07-04
13544                     NaN           0       2016-05-26
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_applprev_1_1.csv
Sample of rows from Chunk 0:
      case_id  actualdpd_943p  annuity_853a approvaldate_319d  \
2422    43068             0.0     3101.2000               NaN
3988    44472             0.0     3177.4001               NaN
996     41784             0.0     8572.6010               NaN
2884    43458             0.0     1226.0000               NaN
2099    42786             0.0     3418.8000               NaN

      byoccupationinc_3656910l cancelreason_3545846m  childnum_21l  \
2422                       NaN           P94_109_143           NaN
3988                       NaN          P141_135_146           1.0
996                        NaN           P94_109_143           NaN
2884                       NaN              a55475b1           0.0
2099                       NaN           P94_109_143           1.0

     creationdate_885d  credacc_actualbalance_314a  credacc_credlmt_575a  ...  \
2422        2017-05-30                         NaN                   0.0  ...
3988        2017-08-27                         NaN                   0.0  ...
996         2018-07-30                         NaN                   0.0  ...
2884        2009-09-19                         NaN                   0.0  ...
2099        2018-04-06                         NaN                   0.0  ...

      num_group1  outstandingdebt_522a pmtnum_8l  postype_4733339m  \
2422           1                   NaN      18.0      P177_117_192
3988           0                   NaN      24.0      P177_117_192
996            0                   NaN      24.0        P46_145_78
2884           8                   0.0      18.0      P177_117_192
2099           0                   NaN       9.0      P177_117_192

      profession_152m rejectreason_755m  rejectreasonclient_4145042m  \
2422         a55475b1        P99_56_166                  P94_109_143
3988         a55475b1          a55475b1                     a55475b1
996          a55475b1        P45_84_106                  P94_109_143
2884         a55475b1          a55475b1                     a55475b1
2099         a55475b1        P99_56_166                  P94_109_143

     revolvingaccount_394a status_219l  tenor_203l
2422                   NaN           D        18.0
3988                   NaN           T        24.0
996                    NaN           D        24.0
2884                   NaN           D        18.0
2099                   NaN           D         9.0

[5 rows x 41 columns]
Sample of rows from Chunk 1:
      case_id  actualdpd_943p  annuity_853a approvaldate_319d  \
6445    46104             0.0        3001.2               NaN
7259    46647             0.0        2064.0               NaN
6884    46405             0.0        2168.2               NaN
9124    47905             0.0       10317.8               NaN
5020    45258             0.0        6878.2               NaN

      byoccupationinc_3656910l cancelreason_3545846m  childnum_21l  \
6445                   15000.0              a55475b1           0.0
7259                       NaN           P198_89_166           NaN
6884                   30000.0              a55475b1           1.0
9124                       NaN           P94_109_143           NaN
5020                       NaN           P94_109_143           NaN

     creationdate_885d  credacc_actualbalance_314a  credacc_credlmt_575a  ...  \
6445        2013-08-09                         NaN                   0.0  ...
7259        2018-07-17                         NaN                   0.0  ...
6884        2013-06-27                         NaN                   0.0  ...
9124        2019-10-16                         NaN                   0.0  ...
5020        2019-02-21                         NaN                   0.0  ...

      num_group1  outstandingdebt_522a pmtnum_8l  postype_4733339m  \
6445          10                   NaN       7.0      P177_117_192
7259           2                   NaN      31.0      P177_117_192
6884           0                   NaN      12.0      P177_117_192
9124           1                   NaN      24.0       P67_102_161
5020           0                   NaN      12.0      P177_117_192

      profession_152m rejectreason_755m  rejectreasonclient_4145042m  \
6445         a55475b1          a55475b1                     a55475b1
7259         a55475b1          a55475b1                     a55475b1
6884         a55475b1          a55475b1                     a55475b1
9124         a55475b1        P198_131_9                  P94_109_143
5020         a55475b1        P45_84_106                  P94_109_143

     revolvingaccount_394a status_219l  tenor_203l
6445                   NaN           D         7.0
7259                   NaN           T        31.0
6884                   NaN           D        12.0
9124                   NaN           D        24.0
5020                   NaN           D        12.0

[5 rows x 41 columns]
Sample of rows from Chunk 2:
       case_id  actualdpd_943p  annuity_853a approvaldate_319d  \
11368    49376             0.0     4101.0000               NaN
14430    51865             0.0     2560.4001               NaN
14164    51593             0.0     6021.0000               NaN
13269    50743             0.0     5017.4000               NaN
14173    51600             0.0    10496.2000               NaN

       byoccupationinc_3656910l cancelreason_3545846m  childnum_21l  \
11368                       NaN           P94_109_143           NaN
14430                       1.0              a55475b1           0.0
14164                       NaN           P94_109_143           NaN
13269                       0.0           P94_109_143           3.0
14173                       NaN           P94_109_143           NaN

      creationdate_885d  credacc_actualbalance_314a  credacc_credlmt_575a  \
11368        2019-11-06                         NaN                   0.0
14430        2015-03-17                         NaN                   0.0
14164        2017-09-12                         NaN                   0.0
13269        2016-02-10                         0.0                   0.0
14173        2020-01-31                         NaN                   0.0

       ...  num_group1  outstandingdebt_522a pmtnum_8l  postype_4733339m  \
11368  ...           4                   NaN       6.0        P46_145_78
14430  ...           2                   0.0      24.0        P46_145_78
14164  ...           4                   NaN      48.0        P46_145_78
13269  ...           2                   NaN      12.0        P46_145_78
14173  ...           0                   NaN      12.0       P67_102_161

       profession_152m rejectreason_755m  rejectreasonclient_4145042m  \
11368         a55475b1        P99_56_166                  P94_109_143
14430         a55475b1          a55475b1                     a55475b1
14164         a55475b1        P99_56_166                  P94_109_143
13269      P135_113_37        P45_84_106                  P94_109_143
14173         a55475b1        P45_84_106                  P94_109_143

      revolvingaccount_394a status_219l  tenor_203l
11368                   NaN           D         6.0
14430                   NaN           D        24.0
14164                   NaN           D        48.0
13269                   NaN           D        12.0
14173                   NaN           D        12.0

[5 rows x 41 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_static_cb_0.csv

Sample of rows from Chunk 0:
      case_id assignmentdate_238d  assignmentdate_4527235d  \
440       858                 NaN                      NaN
2733     3261                 NaN                      NaN
3669     4222          1995-02-08                      NaN
2057     2547                 NaN                      NaN
3680     4233                 NaN                      NaN

      assignmentdate_4955616d birthdate_574d  contractssum_5085716l  \
440                       NaN     1961-09-01                    NaN
2733                      NaN     1970-03-01                    NaN
3669                      NaN     1948-12-01                    NaN
2057                      NaN     1979-01-01                    NaN
3680                      NaN            NaN                    NaN

     dateofbirth_337d dateofbirth_342d  days120_123l  days180_256l  ...  \
440               NaN              NaN           NaN           NaN  ...
2733       1970-03-01              NaN           2.0           2.0  ...
3669              NaN              NaN           NaN           NaN  ...
2057       1979-01-01              NaN           0.0           0.0  ...
3680       1996-02-01              NaN           2.0           2.0  ...

      pmtscount_423l  pmtssum_45a  requesttype_4525192l responsedate_1012d  \
440              5.0    12830.601                   NaN         2019-01-25
2733            10.0    26541.000                   NaN         2019-02-13
3669             NaN          NaN                   NaN         2019-02-22
2057             4.0     3206.800                   NaN         2019-02-08
3680             NaN          NaN                   NaN                NaN

     responsedate_4527233d responsedate_4917613d  riskassesment_302t  \
440                    NaN                   NaN                 NaN
2733                   NaN                   NaN                 NaN
3669                   NaN                   NaN                 NaN
2057                   NaN                   NaN                 NaN
3680                   NaN                   NaN                 NaN

      riskassesment_940t  secondquarter_766l  thirdquarter_1082l
440                  NaN                 NaN                 NaN
2733                 NaN                 2.0                 0.0
3669                 NaN                 NaN                 NaN
2057                 NaN                 0.0                 5.0
3680                 NaN                 0.0                 0.0

[5 rows x 53 columns]
Sample of rows from Chunk 1:
      case_id assignmentdate_238d  assignmentdate_4527235d  \
5901     6477                 NaN                      NaN
5963     6539                 NaN                      NaN
5111     5687          2014-11-18                      NaN
5149     5725          2018-07-31                      NaN
5522     6098          2014-12-22                      NaN

      assignmentdate_4955616d birthdate_574d  contractssum_5085716l  \
5901                      NaN     1964-09-01                    NaN
5963                      NaN     1984-02-01                    NaN
5111                      NaN     1951-11-01                    NaN
5149                      NaN     1955-06-01                    NaN
5522                      NaN     1951-11-01                    NaN

     dateofbirth_337d dateofbirth_342d  days120_123l  days180_256l  ...  \
5901       1964-09-01              NaN           0.0           1.0  ...
5963       1984-02-01              NaN           2.0           2.0  ...
5111       1951-11-01              NaN           3.0           3.0  ...
5149              NaN              NaN           NaN           NaN  ...
5522              NaN              NaN           NaN           NaN  ...

      pmtscount_423l  pmtssum_45a  requesttype_4525192l responsedate_1012d  \
5901             4.0       2744.8                   NaN         2019-03-13
5963             9.0      12838.8                   NaN         2019-03-14
5111             NaN          NaN                   NaN         2019-03-07
5149             NaN          NaN                   NaN         2019-03-07
5522             NaN          NaN                   NaN         2019-03-11

     responsedate_4527233d responsedate_4917613d  riskassesment_302t  \
5901                   NaN                   NaN                 NaN
5963                   NaN                   NaN                 NaN
5111                   NaN                   NaN                 NaN
5149                   NaN                   NaN                 NaN
5522                   NaN                   NaN                 NaN

      riskassesment_940t  secondquarter_766l  thirdquarter_1082l
5901                 NaN                 0.0                 1.0
5963                 NaN                 0.0                 3.0
5111                 NaN                 0.0                 0.0
5149                 NaN                 NaN                 NaN
5522                 NaN                 NaN                 NaN

[5 rows x 53 columns]
Sample of rows from Chunk 2:
       case_id assignmentdate_238d  assignmentdate_4527235d  \
13877    14505                 NaN                      NaN
14192    14843          2012-03-20                      NaN
11985    12570                 NaN                      NaN
11473    12057          2015-08-24                      NaN
10626    11206                 NaN                      NaN

       assignmentdate_4955616d birthdate_574d  contractssum_5085716l  \
13877                      NaN     1977-04-01                    NaN
14192                      NaN     1953-10-01                    NaN
11985                      NaN     1980-09-01                    NaN
11473                      NaN     1952-08-01                    NaN
10626                      NaN     1991-09-01                    NaN

      dateofbirth_337d dateofbirth_342d  days120_123l  days180_256l  ...  \
13877       1977-04-01              NaN           0.0           0.0  ...
14192              NaN              NaN           NaN           NaN  ...
11985       1980-09-01              NaN           4.0           6.0  ...
11473       1952-08-01              NaN           4.0           4.0  ...
10626              NaN              NaN           NaN           NaN  ...

       pmtscount_423l  pmtssum_45a  requesttype_4525192l responsedate_1012d  \
13877             6.0     4350.000                   NaN         2019-05-27
14192             NaN          NaN                   NaN         2019-05-29
11985             5.0    12283.276                   NaN         2019-05-06
11473             NaN          NaN                   NaN         2019-05-02
10626             7.0     4900.000                   NaN         2019-04-24

      responsedate_4527233d responsedate_4917613d  riskassesment_302t  \
13877                   NaN                   NaN                 NaN
14192                   NaN                   NaN                 NaN
11985                   NaN                   NaN                 NaN
11473                   NaN                   NaN                 NaN
10626                   NaN                   NaN                 NaN

       riskassesment_940t  secondquarter_766l  thirdquarter_1082l
13877                 NaN                 0.0                 0.0
14192                 NaN                 NaN                 NaN
11985                 NaN                 5.0                 3.0
11473                 NaN                 2.0                 3.0
10626                 NaN                 NaN                 NaN

[5 rows x 53 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_8.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
1374    51166                        a55475b1                        a55475b1
2116    51178                        a55475b1                        a55475b1
1396    51166                        a55475b1                        a55475b1
125     51099                        a55475b1                        a55475b1
1640    51175                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
1374                              NaN                             NaN
2116                              NaN                             NaN
1396                              NaN                             NaN
125                               NaN                             NaN
1640                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
1374                        a55475b1                        a55475b1
2116                        a55475b1                        a55475b1
1396                        a55475b1                        a55475b1
125                         a55475b1                        a55475b1
1640                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
1374           1           6             NaN            0.0              8.0
2116           1          16             NaN            0.0              NaN
1396           2           4             0.0            NaN              6.0
125            0          29             NaN            0.0              7.0
1640           2          20             NaN            NaN             10.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
1374              8.0                 NaN                 0.0
2116              6.0                 NaN                 0.0
1396              6.0                 0.0                 NaN
125               7.0                 NaN                 0.0
1640             10.0                 NaN                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
1374           2019.0          2015.0               a55475b1
2116              NaN          2018.0               a55475b1
1396           2020.0          2015.0               a55475b1
125            2020.0          2016.0               a55475b1
1640           2020.0          2008.0               a55475b1

     subjectroles_name_838m
1374               a55475b1
2116               a55475b1
1396               a55475b1
125                a55475b1
1640               a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
5146    51221                        a55475b1                        a55475b1
5572    51224                        a55475b1                        a55475b1
9069    51279                        a55475b1                        a55475b1
7906    51256                        a55475b1                        a55475b1
5672    51226                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
5146                              NaN                             NaN
5572                              NaN                             NaN
9069                              NaN                             NaN
7906                              NaN                             NaN
5672                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
5146                        a55475b1                        a55475b1
5572                        a55475b1                        a55475b1
9069                        a55475b1                        a55475b1
7906                        a55475b1                        a55475b1
5672                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
5146           2          10             NaN            NaN              NaN
5572           7           4             NaN            NaN              NaN
9069           0           9             0.0            NaN             11.0
7906           1          10             NaN            NaN              NaN
5672           1          20             NaN            NaN              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
5146             12.0                 NaN                 NaN
5572              6.0                 NaN                 NaN
9069             11.0                 0.0                 NaN
7906             12.0                 NaN                 NaN
5672             10.0                 NaN                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
5146              NaN          2019.0               a55475b1
5572              NaN          2017.0               a55475b1
9069           2019.0          2015.0               a55475b1
7906              NaN          2008.0               a55475b1
5672              NaN          2020.0               a55475b1

     subjectroles_name_838m
5146               a55475b1
5572               a55475b1
9069               a55475b1
7906               a55475b1
5672               a55475b1

Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
14955    51339                        a55475b1
13978    51334                        a55475b1
13321    51330                        a55475b1
13790    51334                        a55475b1
10274    51295                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
14955                        a55475b1                              NaN
13978                        a55475b1                              NaN
13321                        a55475b1                              NaN
13790                        a55475b1                              NaN
10274                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
14955                             NaN                        a55475b1
13978                             NaN                        a55475b1
13321                             NaN                        a55475b1
13790                             NaN                        a55475b1
10274                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
14955                        a55475b1           7          14             NaN
13978                        a55475b1           9          21             NaN
13321                        a55475b1           0          12             NaN
13790                        a55475b1           2          13             NaN
10274                        a55475b1           6           1             NaN

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
14955            0.0              NaN              4.0                 NaN
13978            0.0              NaN             11.0                 NaN
13321            NaN              NaN              2.0                 NaN
13790            0.0              NaN              3.0                 NaN
10274            NaN              NaN              3.0                 NaN

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
14955                 0.0              NaN          2016.0
13978                 0.0              NaN          2012.0
13321                 NaN              NaN          2005.0
13790                 0.0              NaN          2008.0
10274                 NaN              NaN          2016.0

      subjectroles_name_541m subjectroles_name_838m
14955               a55475b1               a55475b1
13978               a55475b1               a55475b1
13321               a55475b1               a55475b1
13790               a55475b1               a55475b1
10274               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_tax_registry_a_1.csv
Sample of rows from Chunk 0:
      case_id  amount_4527230a name_4527232m  num_group1 recorddate_4527225d
765     28835         850.0000      7578d244           3          2019-09-16
3982    29806        3036.2000      e1a5b147           3          2019-09-28
2660    29419        7320.0000      c32e828d           0          2019-09-20
4144    29872        1263.0000      6edf048a           5          2019-09-24
2686    29428        1415.2001      1808e197           4          2019-09-20
Sample of rows from Chunk 1:
      case_id  amount_4527230a name_4527232m  num_group1 recorddate_4527225d
9945    31555            642.4      39fd87ef           8          2019-10-06
7332    30796           2173.6      69f5e9f0           1          2019-10-01
6265    30452            916.4      5e180ef0           5          2019-09-28
6492    30517           1000.0      0311c50d           4          2019-09-29
6073    30405            740.8      a94a0ed2           2          2019-09-27
Sample of rows from Chunk 2:
       case_id  amount_4527230a name_4527232m  num_group1 recorddate_4527225d
11655    32078            850.0      0667e414           3          2019-10-09
13177    32548            900.0      228ccd11           5          2019-10-13
13109    32522           5555.4      f1e4f355           7          2019-10-12
12459    32332           1000.0      76f75dd2           5          2019-10-11
11080    31891            850.0      23172e1b           1          2019-10-08
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_2.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
931     14072                        a55475b1                        a55475b1
3673    14153                        a55475b1                        a55475b1
699     14066                        a55475b1                        a55475b1
24      13927                        a55475b1                        a55475b1
324     14059                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
931                               NaN                             NaN
3673                              NaN                             NaN
699                               NaN                             NaN
24                                NaN                             NaN
324                               NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
931                         a55475b1                        a55475b1
3673                        a55475b1                        a55475b1
699                         a55475b1                        a55475b1
24                          a55475b1                        a55475b1
324                         a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
931            0          19             NaN            NaN              9.0
3673           0           1             NaN            NaN              3.0
699            0          15             0.0            NaN              5.0
24             0          24             0.0            NaN              2.0
324            0          12             0.0            NaN              2.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
931               NaN                 NaN                 NaN
3673              NaN                 NaN                 NaN
699               NaN                 0.0                 NaN
24                NaN                 0.0                 NaN
324               NaN                 0.0                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
931            2019.0             NaN               a55475b1
3673           2017.0             NaN               a55475b1
699            2018.0             NaN               a55475b1
24             2019.0             NaN               a55475b1
324            2018.0             NaN               a55475b1

     subjectroles_name_838m
931                a55475b1
3673               a55475b1
699                a55475b1
24                 a55475b1
324                a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
7990    14294                        a55475b1                        a55475b1
8763    14315                        a55475b1                        a55475b1
6507    14255                        a55475b1                        a55475b1
8756    14315                        a55475b1                        a55475b1
6693    14261                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
7990                              NaN                             NaN
8763                              NaN                             NaN
6507                              NaN                             NaN
8756                              NaN                             NaN
6693                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
7990                        a55475b1                        a55475b1
8763                        a55475b1                        a55475b1
6507                        a55475b1                        a55475b1
8756                        a55475b1                        a55475b1
6693                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
7990           0          34             NaN            NaN             12.0
8763           1          27             0.0            NaN              5.0
6507           0           3             NaN            NaN              5.0
8756           1          20             0.0            NaN             10.0
6693           0           9             0.0            NaN             11.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
7990              NaN                 NaN                 NaN
8763              NaN                 0.0                 NaN
6507              NaN                 NaN                 NaN
8756              NaN                 0.0                 NaN
6693              NaN                 0.0                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
7990           2019.0             NaN               a55475b1
8763           2019.0             NaN               a55475b1
6507           2017.0             NaN               a55475b1
8756           2018.0             NaN               a55475b1
6693           2017.0             NaN               a55475b1

     subjectroles_name_838m
7990               a55475b1
8763               a55475b1
6507               a55475b1
8756               a55475b1
6693               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
11059    14394                        a55475b1
13149    14462                        a55475b1
13219    14466                        a55475b1
14033    14504                        a55475b1
13579    14483                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
11059                        a55475b1                              NaN
13149                        a55475b1                              NaN
13219                        a55475b1                              NaN
14033                        a55475b1                              NaN
13579                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
11059                             NaN                        a55475b1
13149                             NaN                        a55475b1
13219                             NaN                        a55475b1
14033                             NaN                        a55475b1
13579                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
11059                        a55475b1           0          31             NaN
13149                        a55475b1           0          33             NaN
13219                        a55475b1           0           7             NaN
14033                        a55475b1           0          29             NaN
13579                        a55475b1           0          19             NaN

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
11059            NaN              9.0              NaN                 NaN
13149            NaN             11.0              NaN                 NaN
13219            NaN              9.0              NaN                 NaN
14033            NaN              7.0              NaN                 NaN
13579            NaN              9.0              NaN                 NaN

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
11059                 NaN           2019.0             NaN
13149                 NaN           2019.0             NaN
13219                 NaN           2017.0             NaN
14033                 NaN           2019.0             NaN
13579                 NaN           2019.0             NaN

      subjectroles_name_541m subjectroles_name_838m
11059               a55475b1               a55475b1
13149               a55475b1               a55475b1
13219               a55475b1               a55475b1
14033               a55475b1               a55475b1
13579               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_other_1.csv
Sample of rows from Chunk 0:
      case_id  amtdebitincoming_4809443a  amtdebitoutgoing_4809440a  \
1302   199377                        0.0                        0.0
4151   210297                        0.0                        0.0
204     53217                        0.0                        0.0
4177   210393                     9000.0                     9000.0
4718   212410                     7500.0                     7500.0

      amtdepositbalance_4809441a  amtdepositincoming_4809444a  \
1302                       368.4                          0.0
4151                       468.2                          0.0
204                     107461.6                          0.0
4177                         0.0                          0.0
4718                         0.0                          0.0

      amtdepositoutgoing_4809442a  num_group1
1302                          2.8           0
4151                          3.8           0
204                         881.0           0
4177                          0.0           0
4718                          0.0           0
Sample of rows from Chunk 1:
      case_id  amtdebitincoming_4809443a  amtdebitoutgoing_4809440a  \
6972   220152                        0.0                        0.0
5569   215408                     6023.4                     6053.4
5117   213823                    77955.4                    79434.2
8366   225089                        0.0                        0.0
5987   216835                     6666.6                     6666.6

      amtdepositbalance_4809441a  amtdepositincoming_4809444a  \
6972                     50001.2                    13666.601
5569                         0.0                        0.000
5117                         0.0                        0.000
8366                       288.0                        0.000
5987                         0.0                        0.000

      amtdepositoutgoing_4809442a  num_group1
6972                      16662.8           0
5569                          0.0           0
5117                          0.0           0
8366                          2.4           0
5987                          0.0           0
Sample of rows from Chunk 2:
       case_id  amtdebitincoming_4809443a  amtdebitoutgoing_4809440a  \
13726   245519                      0.000                      0.000
13095   243377                      0.000                      0.000
10731   234515                      0.000                      0.000
12331   240664                  33333.402                  33333.402
13453   244567                      0.000                      0.000

       amtdepositbalance_4809441a  amtdepositincoming_4809444a  \
13726                       423.0                          0.0
13095                         0.0                          0.0
10731                      1061.8                          0.0
12331                         0.0                          0.0
13453                       241.6                          0.0

       amtdepositoutgoing_4809442a  num_group1
13726                          2.6           0
13095                          2.4           0
10731                          9.8           0
12331                          0.0           0
13453                          1.6           0
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_tax_registry_c_1.csv
Sample of rows from Chunk 0:

      case_id employername_160m  num_group1  pmtamount_36a processingdate_168d
720       601          7dde1703           3      1453.7001          2018-11-15
4328     1552          582105ae           1      1200.0000          2018-11-29
2003      936          8451655c           3       814.8000          2018-10-18
4921     1716          aac393d6           2      1161.6000          2018-08-07
3110     1194          d6736458           1      1584.0000          2018-12-05
Sample of rows from Chunk 1:
      case_id employername_160m  num_group1  pmtamount_36a processingdate_168d
7766     2526          b9167a1e          10     1700.00000          2018-10-03
8976     2833          2886f99b           0    11140.65600          2019-01-11
8529     2735          5e180ef0           4      419.60000          2018-08-17
6360     2097          0e183e3c           1      488.80002          2019-01-02
6870     2276          5579eb26           0     4988.12200          2019-02-01
Sample of rows from Chunk 2:
       case_id employername_160m  num_group1  pmtamount_36a  \
11557     3514          cb1b8a98           2      1060.2001
14764     4289          825b5d19           0      1252.2001
11686     3539       P157_88_183           1      3461.5000
10308     3195          a0cefead           5      1100.0000
14080     4118          d174ef51           2      6797.0000

      processingdate_168d
11557          2019-01-03
14764          2019-02-21
11686          2019-01-03
10308          2018-08-21
14080          2018-12-21
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_applprev_1_0.csv
Sample of rows from Chunk 0:
      case_id  actualdpd_943p  annuity_853a approvaldate_319d  \
4254     4639             0.0        2078.6               NaN
3485     3794             0.0        2753.2               NaN
186       185             0.0           NaN               NaN
350       336             0.0       10336.8               NaN
976      1099             0.0        5002.4               NaN

      byoccupationinc_3656910l cancelreason_3545846m  childnum_21l  \
4254                   25000.0              a55475b1           0.0
3485                  100000.0              a55475b1           0.0
186                        NaN           P94_109_143           NaN
350                        NaN           P94_109_143           NaN
976                        NaN           P94_109_143           NaN

     creationdate_885d  credacc_actualbalance_314a  credacc_credlmt_575a  ...  \
4254        2013-07-31                         NaN                   0.0  ...
3485        2012-05-01                         NaN                   0.0  ...
186         2018-05-26                         NaN                   NaN  ...
350         2018-01-26                         NaN                   0.0  ...
976         2019-01-11                         NaN                   0.0  ...

      num_group1  outstandingdebt_522a pmtnum_8l  postype_4733339m  \
4254           8                   NaN      30.0          a55475b1
3485           2                   NaN      25.0          a55475b1
186            0                   NaN       NaN          a55475b1
350            0                   NaN      16.0          a55475b1
976            0                   NaN      36.0          a55475b1

      profession_152m rejectreason_755m  rejectreasonclient_4145042m  \
4254         a55475b1          a55475b1                     a55475b1
3485         a55475b1          a55475b1                     a55475b1
186          a55475b1       P94_109_143                     a55475b1
350          a55475b1       P94_109_143                     a55475b1
976          a55475b1       P94_109_143                     a55475b1

     revolvingaccount_394a status_219l  tenor_203l
4254                   NaN           D        30.0
3485                   NaN           D        25.0
186                    NaN           D         NaN
350                    NaN           D        16.0
976                    NaN           D        36.0

[5 rows x 41 columns]
Sample of rows from Chunk 1:
      case_id  actualdpd_943p  annuity_853a approvaldate_319d  \
8178     9017             0.0     7909.4000               NaN
7677     8415             0.0     6303.2000               NaN
8453     9400             0.0     4705.0000               NaN
6080     6607             0.0     3083.8000               NaN
9689    11044             0.0     4648.8003               NaN

      byoccupationinc_3656910l cancelreason_3545846m  childnum_21l  \
8178                       NaN           P94_109_143           NaN
7677                       NaN           P94_109_143           NaN
8453                       NaN           P94_109_143           NaN
6080                       NaN           P94_109_143           NaN
9689                       NaN              a55475b1           0.0

     creationdate_885d  credacc_actualbalance_314a  credacc_credlmt_575a  ...  \
8178        2018-12-06                         NaN                   0.0  ...
7677        2019-03-29                         NaN                   0.0  ...
8453        2018-06-27                         NaN                   0.0  ...
6080        2017-05-20                         NaN                   0.0  ...
9689        2013-06-05                         NaN                   0.0  ...

      num_group1  outstandingdebt_522a pmtnum_8l  postype_4733339m  \
8178           1                   NaN      24.0          a55475b1
7677           0                   NaN      36.0          a55475b1
8453           0                   NaN      48.0          a55475b1
6080           2                   NaN      42.0          a55475b1
9689           0                   0.0      18.0          a55475b1

      profession_152m rejectreason_755m  rejectreasonclient_4145042m  \
8178         a55475b1       P94_109_143                  P94_109_143
7677         a55475b1        P45_84_106                  P94_109_143
8453         a55475b1        P198_131_9                  P94_109_143
6080         a55475b1       P94_109_143                  P94_109_143
9689         a55475b1          a55475b1                     a55475b1

     revolvingaccount_394a status_219l  tenor_203l
8178                   NaN           D        24.0
7677                   NaN           D        36.0
8453                   NaN           D        48.0
6080                   NaN           D        42.0
9689                   NaN           D        18.0

[5 rows x 41 columns]
Sample of rows from Chunk 2:
       case_id  actualdpd_943p  annuity_853a approvaldate_319d  \
14406    16845             0.0        3538.6        2019-01-28
11895    13781             0.0        1136.6               NaN
12112    14029             0.0        4896.2               NaN
12495    14467             0.0           NaN               NaN
13699    15991             0.0           NaN               NaN

       byoccupationinc_3656910l cancelreason_3545846m  childnum_21l  \
14406                       NaN              a55475b1           NaN
11895                       1.0              a55475b1           2.0
12112                       NaN           P198_89_166           NaN
12495                       NaN           P94_109_143           NaN
13699                       NaN            P163_9_145           NaN

      creationdate_885d  credacc_actualbalance_314a  credacc_credlmt_575a  \
14406        2019-01-28                         NaN                   0.0
11895        2015-02-12                         NaN                   0.0
12112        2019-05-20                         NaN                   0.0
12495        2016-10-11                         NaN                   NaN
13699        2016-11-01                         NaN                   NaN

       ...  num_group1  outstandingdebt_522a pmtnum_8l  postype_4733339m  \
14406  ...           0                   0.0      18.0          a55475b1
11895  ...           0                   0.0       6.0          a55475b1
12112  ...           0                   NaN      36.0          a55475b1
12495  ...           1                   NaN       NaN          a55475b1
13699  ...           3                   NaN       NaN          a55475b1

       profession_152m rejectreason_755m  rejectreasonclient_4145042m  \
14406         a55475b1       P94_109_143                     a55475b1
11895         a55475b1          a55475b1                     a55475b1
12112         a55475b1          a55475b1                     a55475b1
12495         a55475b1        P99_56_166                  P94_109_143
13699         a55475b1          a55475b1                     a55475b1

      revolvingaccount_394a status_219l  tenor_203l
14406                   NaN           K        18.0
11895                   NaN           D         6.0
12112                   NaN           T        36.0
12495                   NaN           D         NaN
13699                   NaN           T         NaN

[5 rows x 41 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_10.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
3656    56829                        a55475b1                        a55475b1
2239    56779                        a55475b1                        a55475b1
604     56739                        a55475b1                        a55475b1
4018    56834                        a55475b1                        a55475b1
3361    56818                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
3656                              NaN                             NaN
2239                              NaN                             NaN
604                               NaN                             NaN
4018                              NaN                             NaN
3361                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
3656                        a55475b1                        a55475b1
2239                        a55475b1                        a55475b1
604                         a55475b1                        a55475b1
4018                        a55475b1                        a55475b1
3361                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
3656           0          32             NaN            NaN              NaN
2239           4           7             NaN            NaN              NaN
604            2          16             NaN          694.0              NaN
4018           6          10             NaN            0.0              NaN
3361           1          13             NaN            1.0              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
3656             10.0                 NaN                 NaN
2239              9.0                 NaN                 NaN
604               6.0                 NaN           27101.201
4018             12.0                 NaN               0.000
3361              3.0                 NaN            7075.200

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
3656              NaN          2019.0               a55475b1
2239              NaN          2018.0               a55475b1
604               NaN          2010.0               a55475b1
4018              NaN          2018.0               a55475b1
3361              NaN          2009.0               a55475b1

     subjectroles_name_838m
3656               a55475b1
2239               a55475b1
604                a55475b1
4018               a55475b1
3361               a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
5647    56865                        a55475b1                        a55475b1
8269    56910                        a55475b1                        a55475b1
5498    56862                        a55475b1                        a55475b1
7467    56901                        a55475b1                        a55475b1
6320    56873                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
5647                              NaN                             NaN
8269                              NaN                             NaN
5498                              NaN                             NaN
7467                              NaN                             NaN
6320                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
5647                        a55475b1                        a55475b1
8269                        a55475b1                        a55475b1
5498                        a55475b1                        a55475b1
7467                        a55475b1                        a55475b1
6320                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
5647           1           7             NaN            NaN              9.0
8269           1          25             NaN            0.0              NaN
5498           3          14             NaN            NaN              NaN
7467           0          15             NaN            0.0              NaN
6320           0          20             0.0            NaN             10.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
5647              9.0                 NaN                 NaN
8269              3.0                 NaN                 0.0
5498              4.0                 NaN                 NaN
7467              5.0                 NaN                 0.0
6320              NaN                 0.0                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
5647           2019.0          2006.0               a55475b1
8269              NaN          2008.0               a55475b1
5498              NaN          2005.0               a55475b1
7467              NaN          2014.0               a55475b1
6320           2019.0             NaN               a55475b1

     subjectroles_name_838m
5647               a55475b1
8269               a55475b1
5498               a55475b1
7467               a55475b1
6320               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
10612    56934                        a55475b1
12300    56948                        a55475b1
12316    56948                        a55475b1
11139    56940                        a55475b1
14993    56983                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
10612                        a55475b1                              NaN
12300                        8fd95e4b                              NaN
12316                        a55475b1                              NaN
11139                        a55475b1                              NaN
14993                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
10612                             NaN                        a55475b1
12300                     12991378.35                        9276e4bb
12316                             NaN                        a55475b1
11139                             NaN                        a55475b1
14993                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
10612                        a55475b1           8           4             NaN
12300                        a55475b1           3           0             NaN
12316                        a55475b1           3          16             NaN
11139                        a55475b1           1           3             NaN
14993                        a55475b1           1          29             0.0

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
10612            NaN              NaN              6.0                 NaN
12300            NaN              NaN              2.0                 NaN
12316            2.0              NaN              6.0                 NaN
11139            0.0              NaN              5.0                 NaN
14993            NaN              7.0              NaN                 0.0

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
10612                 NaN              NaN          2016.0
12300                 NaN              NaN          2017.0
12316           27667.225              NaN          2018.0
11139               0.000              NaN          2018.0
14993                 NaN           2020.0             NaN

      subjectroles_name_541m subjectroles_name_838m
10612               a55475b1               a55475b1
12300               daf49a8a               a55475b1
12316               a55475b1               a55475b1
11139               a55475b1               a55475b1
14993               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_person_2.csv
Sample of rows from Chunk 0:
      case_id addres_district_368m addres_role_871l addres_zip_823m  \
3272     2949             a55475b1              NaN        a55475b1
4598     4128             a55475b1              NaN        a55475b1
3726     3365             a55475b1              NaN        a55475b1
4565     4096             a55475b1              NaN        a55475b1
2736     2452             a55475b1              NaN        a55475b1

     conts_role_79m empls_economicalst_849m empls_employedfrom_796d  \
3272       a55475b1                a55475b1                     NaN
4598       a55475b1                a55475b1                     NaN
3726       a55475b1                a55475b1                     NaN
4565       a55475b1                a55475b1                     NaN
2736       a55475b1                a55475b1                     NaN

     empls_employer_name_740m  num_group1  num_group2 relatedpersons_role_762t
3272                 a55475b1           0           0                      NaN
4598                 a55475b1           0           0                      NaN
3726                 a55475b1           0           0                      NaN
4565                 a55475b1           0           0                      NaN
2736                 a55475b1           0           0                      NaN
Sample of rows from Chunk 1:
      case_id addres_district_368m addres_role_871l addres_zip_823m  \
5558     4986             a55475b1              NaN        a55475b1
9597     8606             a55475b1              NaN        a55475b1
9550     8567             a55475b1              NaN        a55475b1
6811     6091             a55475b1              NaN        a55475b1
7468     6693             a55475b1              NaN        a55475b1

     conts_role_79m empls_economicalst_849m empls_employedfrom_796d  \
5558       a55475b1                a55475b1                     NaN
9597       a55475b1                a55475b1                     NaN
9550       a55475b1                a55475b1                     NaN
6811       a55475b1                a55475b1                     NaN
7468       a55475b1                a55475b1                     NaN

     empls_employer_name_740m  num_group1  num_group2 relatedpersons_role_762t
5558                 a55475b1           0           0                      NaN
9597                 a55475b1           1           0                      NaN
9550                 a55475b1           0           0                      NaN
6811                 a55475b1           0           0                      NaN

Sample of rows from Chunk 2:
       case_id addres_district_368m addres_role_871l addres_zip_823m  \
11306    10098             a55475b1              NaN        a55475b1
11454    10233             a55475b1              NaN        a55475b1
13134    11759             a55475b1              NaN        a55475b1
11463    10244             a55475b1              NaN        a55475b1
10872     9733             a55475b1              NaN        a55475b1

      conts_role_79m empls_economicalst_849m empls_employedfrom_796d  \
11306       a55475b1                a55475b1                     NaN
11454       a55475b1                a55475b1                     NaN
13134       a55475b1                a55475b1                     NaN
11463       a55475b1                a55475b1                     NaN
10872       a55475b1                a55475b1                     NaN

      empls_employer_name_740m  num_group1  num_group2  \
11306                 a55475b1           0           0
11454                 a55475b1           0           0
13134                 a55475b1           0           0
11463                 a55475b1           0           0
10872                 a55475b1           0           0

      relatedpersons_role_762t
11306                      NaN
11454                      NaN
13134                      NaN
11463                      NaN
10872                      NaN
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_1.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
3155     7071                        a55475b1                        a55475b1
868      7006                        a55475b1                        a55475b1
4473     7106                        a55475b1                        a55475b1
736      7002                        a55475b1                        a55475b1
1662     7028                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
3155                              NaN                             NaN
868                               NaN                             NaN
4473                              NaN                             NaN
736                               NaN                             NaN
1662                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
3155                        a55475b1                        a55475b1
868                         a55475b1                        a55475b1
4473                        a55475b1                        a55475b1
736                         a55475b1                        a55475b1
1662                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
3155           0          35             NaN            NaN              1.0
868            0          16             0.0            NaN              6.0
4473           1           9             NaN            NaN             11.0
736            1           4             NaN            NaN              6.0
1662           0           6             0.0            NaN              8.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
3155              NaN                 NaN                 NaN
868               NaN                 0.0                 NaN
4473              NaN                 NaN                 NaN
736               NaN                 NaN                 NaN
1662              NaN                 0.0                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
3155           2020.0             NaN               a55475b1
868            2018.0             NaN               a55475b1
4473           2019.0             NaN               a55475b1
736            2019.0             NaN               a55475b1
1662           2017.0             NaN               a55475b1

     subjectroles_name_838m
3155               a55475b1
868                a55475b1
4473               a55475b1
736                a55475b1
1662               a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
8782     7246                        a55475b1                        a55475b1
8533     7238                        a55475b1                        a55475b1
9959     7285                        a55475b1                        a55475b1
5265     7136                        a55475b1                        a55475b1
8305     7233                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
8782                              NaN                             NaN
8533                              NaN                             NaN
9959                              NaN                             NaN
5265                              NaN                             NaN
8305                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
8782                        a55475b1                        a55475b1
8533                        a55475b1                        a55475b1
9959                        a55475b1                        a55475b1
5265                        a55475b1                        a55475b1
8305                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
8782           4          10             NaN            NaN             12.0
8533           0           1             NaN            NaN              3.0
9959           1          11             NaN            NaN              1.0
5265           1           9             0.0            NaN             11.0
8305           2          13             0.0            NaN              3.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
8782              NaN                 NaN                 NaN
8533              NaN                 NaN                 NaN
9959              NaN                 NaN                 NaN
5265              NaN                 0.0                 NaN
8305              NaN                 0.0                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
8782           2018.0             NaN               a55475b1
8533           2017.0             NaN               a55475b1
9959           2019.0             NaN               a55475b1
5265           2018.0             NaN               a55475b1
8305           2019.0             NaN               a55475b1

     subjectroles_name_838m
8782               a55475b1
8533               a55475b1
9959               a55475b1
5265               a55475b1
8305               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
11025     7316                        a55475b1
11801     7340                        a55475b1
12652     7361                        a55475b1
14720     7409                        a55475b1
13283     7375                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
11025                        a55475b1                              NaN
11801                        a55475b1                              NaN
12652                        a55475b1                              NaN
14720                        a55475b1                              NaN
13283                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
11025                             NaN                        a55475b1
11801                             NaN                        a55475b1
12652                             NaN                        a55475b1
14720                             NaN                        a55475b1
13283                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
11025                        a55475b1           0           9             0.0
11801                        a55475b1           0          17             0.0
12652                        a55475b1           0          16             0.0
14720                        a55475b1           0          20             0.0
13283                        a55475b1           0          23             0.0

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
11025            NaN             11.0              NaN                 0.0
11801            NaN              7.0              NaN                 0.0
12652            NaN              6.0              NaN                 0.0
14720            NaN             10.0              NaN                 0.0
13283            NaN              1.0              NaN                 0.0

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
11025                 NaN           2017.0             NaN
11801                 NaN           2018.0             NaN
12652                 NaN           2018.0             NaN
14720                 NaN           2018.0             NaN
13283                 NaN           2019.0             NaN

      subjectroles_name_541m subjectroles_name_838m
11025               a55475b1               a55475b1
11801               a55475b1               a55475b1
12652               a55475b1               a55475b1
14720               a55475b1               a55475b1
13283               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_tax_registry_b_1.csv
Sample of rows from Chunk 0:
      case_id  amount_4917619a deductiondate_4917603d name_4917606m  \
3029    51668           8955.4             2020-04-27      b860a6e1
163     50166           7776.0             2019-11-22      56b8924f
2551    51474           4153.4             2020-01-14      6e1a4f06
2772    51578          12807.8             2020-03-09      75c27c23
3482    51830          27308.4             2020-03-12      08648e5b

      num_group1
3029           8
163            1
2551           1
2772           1
3482           6
Sample of rows from Chunk 1:
      case_id  amount_4917619a deductiondate_4917603d name_4917606m  \
7851    53312          32090.6             2020-04-14      718fc8d2
5598    52583           4247.6             2020-04-24      5e180ef0
8581    53537          26501.0             2020-05-13      1c0c2f6d
9236    53771           7625.4             2020-05-05      24ee18cc
9794    53938          17901.0             2020-08-07      e1fc1008

      num_group1
7851           2
5598           3
8581          10
9236           9
9794           3
Sample of rows from Chunk 2:
       case_id  amount_4917619a deductiondate_4917603d name_4917606m  \
14622    55623        8100.0000             2020-05-01      c015018c
12756    54937       13083.2000             2020-03-09      2f0f8a66
11786    54558       49154.0000             2020-05-05      dbcf3d3e
12367    54768        7111.8003             2020-06-19      d761a7ac
10176    54046       14209.0000             2020-04-01      bc0554d9

       num_group1
14622           1
12756           0
11786           2
12367          15
10176           1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_static_0_0.csv

Sample of rows from Chunk 0:
      case_id  actualdpdtolerance_344p  amtinstpaidbefduel24m_4187115a  \
3907     3907                      NaN                             NaN
1812     1812                      NaN                             NaN
2372     2372                      NaN                             NaN
3898     3898                      NaN                             NaN
1629     1629                      NaN                             NaN

      annuity_780a  annuitynextmonth_57a  applicationcnt_361l  \
3907     4733.2000                   0.0                  0.0
1812     2594.6000                   0.0                  0.0
2372     4698.6000                   0.0                  0.0
3898     3074.8000                   0.0                  0.0
1629     2098.4001                   0.0                  0.0

      applications30d_658l  applicationscnt_1086l  applicationscnt_464l  \
3907                   0.0                    0.0                   0.0
1812                   0.0                    0.0                   0.0
2372                   1.0                    0.0                   1.0
3898                   1.0                    0.0                   4.0
1629                   0.0                    0.0                   0.0

      applicationscnt_629l  ...  sellerplacecnt_915l  sellerplacescnt_216l  \
3907                   0.0  ...                  0.0                   3.0
1812                   0.0  ...                  0.0                   0.0
2372                   1.0  ...                  0.0                   1.0
3898                   1.0  ...                  0.0                   0.0
1629                   0.0  ...                  0.0                   0.0

      sumoutstandtotal_3546847a  sumoutstandtotalest_4493215a  totaldebt_9a  \
3907                        NaN                           NaN           0.0
1812                        NaN                           NaN           0.0
2372                        NaN                           NaN           0.0
3898                        NaN                           NaN           0.0
1629                        NaN                           NaN           0.0

      totalsettled_863a  totinstallast1m_4525188a  twobodfilling_608l  \
3907                0.0                       NaN                  FO
1812                0.0                       NaN                  FO
2372                0.0                       NaN                  FO
3898                0.0                       NaN                  FO
1629                0.0                       NaN                  FO

      typesuite_864l  validfrom_1069d
3907              AL              NaN
1812              AL              NaN
2372              AL              NaN
3898              AL              NaN
1629              AL              NaN

[5 rows x 168 columns]
Sample of rows from Chunk 1:
      case_id  actualdpdtolerance_344p  amtinstpaidbefduel24m_4187115a  \
7002     7002                      NaN                             NaN
7211     7211                      NaN                             NaN
9139     9139                      NaN                             NaN
9405     9405                      NaN                             NaN
6050     6050                      NaN                             NaN

      annuity_780a  annuitynextmonth_57a  applicationcnt_361l  \
7002        2103.0                   0.0                  0.0
7211        4379.6                   0.0                  0.0
9139        6976.4                   0.0                  0.0
9405        3062.6                   0.0                  0.0
6050        3001.2                   0.0                  0.0

      applications30d_658l  applicationscnt_1086l  applicationscnt_464l  \
7002                   1.0                    0.0                   0.0
7211                   1.0                    0.0                   1.0
9139                   0.0                    0.0                   0.0
9405                   0.0                    0.0                   1.0
6050                   0.0                    4.0                   0.0

      applicationscnt_629l  ...  sellerplacecnt_915l  sellerplacescnt_216l  \
7002                   0.0  ...                  1.0                   3.0
7211                   1.0  ...                  0.0                   0.0
9139                   0.0  ...                  0.0                   0.0
9405                   0.0  ...                  0.0                   0.0
6050                   0.0  ...                  0.0                   0.0

      sumoutstandtotal_3546847a  sumoutstandtotalest_4493215a  totaldebt_9a  \
7002                        NaN                           NaN           0.0
7211                        NaN                           NaN           0.0
9139                        NaN                           NaN           0.0
9405                        NaN                           NaN           0.0
6050                        NaN                           NaN           0.0

      totalsettled_863a  totinstallast1m_4525188a  twobodfilling_608l  \
7002                0.0                       NaN                  FO
7211                0.0                       NaN                  FO
9139                0.0                       NaN                  FO
9405                0.0                       NaN                  FO
6050                0.0                       NaN                  FO

      typesuite_864l  validfrom_1069d
7002             NaN              NaN
7211              AL              NaN
9139              AL              NaN
9405              AL              NaN
6050              AL              NaN

[5 rows x 168 columns]
Sample of rows from Chunk 2:
       case_id  actualdpdtolerance_344p  amtinstpaidbefduel24m_4187115a  \
11051    11051                      NaN                             NaN
14191    14191                      NaN                             NaN
14757    14757                      NaN                             NaN
13884    13884                      NaN                             NaN
12151    12151                      NaN                             NaN

       annuity_780a  annuitynextmonth_57a  applicationcnt_361l  \
11051     7943.0000                   0.0                  0.0
14191     3068.2000                   0.0                  0.0
14757     6130.0000                   0.0                  0.0
13884      618.0000                   0.0                  0.0
12151     1854.2001                   0.0                  0.0

       applications30d_658l  applicationscnt_1086l  applicationscnt_464l  \
11051                   0.0                    0.0                   0.0
14191                   0.0                    0.0                   0.0
14757                   0.0                    0.0                   0.0
13884                   0.0                    0.0                   0.0
12151                   0.0                    0.0                   0.0

       applicationscnt_629l  ...  sellerplacecnt_915l  sellerplacescnt_216l  \
11051                   0.0  ...                  0.0                   2.0
14191                   0.0  ...                  0.0                   0.0
14757                   0.0  ...                  0.0                   0.0
13884                   0.0  ...                  0.0                   0.0
12151                   0.0  ...                  0.0                   0.0

       sumoutstandtotal_3546847a  sumoutstandtotalest_4493215a  totaldebt_9a  \
11051                        NaN                           NaN           0.0
14191                        NaN                           NaN           0.0
14757                        NaN                           NaN           0.0
13884                        NaN                           NaN           0.0
12151                        NaN                           NaN           0.0

       totalsettled_863a  totinstallast1m_4525188a  twobodfilling_608l  \
11051                0.0                       NaN                  FO
14191                0.0                       NaN                  FO
14757                0.0                       NaN                  FO
13884                0.0                       NaN                  FO
12151                0.0                       NaN                  FO

       typesuite_864l  validfrom_1069d
11051              AL              NaN
14191              AL              NaN
14757              AL              NaN
13884              AL              NaN
12151              AL              NaN

[5 rows x 168 columns]

Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_7.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
1134    49694                        a55475b1                        a55475b1
461     49444                        a55475b1                        a55475b1
1479    49725                        a55475b1                        a55475b1
2168    49784                        a55475b1                        a55475b1
4183    49880                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
1134                              NaN                             NaN
461                               NaN                             NaN
1479                              NaN                             NaN
2168                              NaN                             NaN
4183                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
1134                        a55475b1                        a55475b1
461                         a55475b1                        a55475b1
1479                        a55475b1                        a55475b1
2168                        a55475b1                        a55475b1
4183                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
1134           3          30             NaN            NaN              NaN
461            0          17             0.0            0.0              7.0
1479           7           3             NaN            0.0              NaN
2168           1           8             NaN            NaN             10.0
4183          15           7             NaN            0.0              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
1134              8.0                 NaN                 NaN
461               7.0                 0.0                 0.0
1479              5.0                 NaN                 0.0
2168             10.0                 NaN                 NaN
4183              9.0                 NaN                 0.0

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
1134              NaN          2015.0               a55475b1
461            2019.0          2006.0               a55475b1
1479              NaN          2018.0               a55475b1
2168           2018.0          2019.0               a55475b1
4183              NaN          2019.0               a55475b1

     subjectroles_name_838m
1134               a55475b1
461                a55475b1
1479               a55475b1
2168               a55475b1
4183               a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
5605    49943                        a55475b1                        a55475b1
9225    49978                        a55475b1                        a55475b1
6654    49953                        a55475b1                        a55475b1
9389    49978                        a55475b1                        a55475b1
6657    49953                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
5605                              NaN                             NaN
9225                              NaN                             NaN
6654                              NaN                             NaN
9389                              NaN                             NaN
6657                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
5605                        a55475b1                        a55475b1
9225                        a55475b1                        a55475b1
6654                        a55475b1                        a55475b1
9389                        a55475b1                        a55475b1
6657                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
5605          19          13             NaN            0.0              NaN
9225           5           9             NaN            NaN              NaN
6654           1          30             NaN         1877.0              NaN
9389          18           5             NaN            NaN              NaN
6657           1          33             NaN         1959.0              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
5605              3.0                 NaN               0.000
9225             11.0                 NaN                 NaN
6654              8.0                 NaN           26226.531
9389              7.0                 NaN                 NaN
6657             11.0                 NaN           24226.530

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
5605              NaN          2019.0               a55475b1
9225              NaN          2017.0               a55475b1
6654              NaN          2019.0               a55475b1
9389              NaN          2018.0               a55475b1
6657              NaN          2019.0               a55475b1

     subjectroles_name_838m
5605               a55475b1
9225               a55475b1
6654               a55475b1
9389               a55475b1
6657               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
12853    50007                        a55475b1
14967    50024                        a55475b1
13166    50008                        a55475b1
12261    50006                        a55475b1
10197    49984                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
12853                        a55475b1                              NaN
14967                        a55475b1                              NaN
13166                        a55475b1                              NaN
12261                        a55475b1                              NaN
10197                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
12853                             NaN                        a55475b1
14967                             NaN                        a55475b1
13166                             NaN                        a55475b1
12261                             NaN                        a55475b1
10197                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
12853                        a55475b1          10           1             NaN
14967                        a55475b1           0          27             NaN
13166                        a55475b1           3          14             NaN
12261                        a55475b1           0          21             NaN
10197                        a55475b1           7          21             NaN

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
12853            NaN              NaN              3.0                 NaN
14967            NaN              NaN              5.0                 NaN
13166            0.0              NaN              4.0                 NaN
12261            NaN             11.0             11.0                 0.0
10197            NaN              NaN             11.0                 NaN

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
12853                 NaN              NaN          2019.0
14967                 NaN              NaN          2008.0
13166                 0.0              NaN          2017.0
12261                 NaN           2019.0          2011.0
10197                 NaN              NaN          2015.0

      subjectroles_name_541m subjectroles_name_838m
12853               a55475b1               a55475b1
14967               a55475b1               a55475b1
13166               a55475b1               a55475b1
12261               a55475b1               a55475b1
10197               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_9.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
401     53788                        a55475b1                        a55475b1
3030    53868                        a55475b1                        a55475b1
4075    53884                        a55475b1                        a55475b1
4816    53890                        a55475b1                        a55475b1
346     53788                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
401                               NaN                             NaN
3030                              NaN                             NaN
4075                              NaN                             NaN
4816                              NaN                             NaN
346                               NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
401                         a55475b1                        a55475b1
3030                        a55475b1                        a55475b1
4075                        a55475b1                        a55475b1
4816                        a55475b1                        a55475b1
346                         a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
401            5           5             NaN            0.0              NaN
3030           4           6             NaN            0.0              NaN
4075           0           7             NaN            NaN              9.0
4816           0           4             NaN            NaN              NaN
346            2          22             NaN            NaN              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
401               7.0                 NaN                 0.0
3030              8.0                 NaN                 0.0
4075              9.0                 NaN                 NaN
4816              6.0                 NaN                 NaN
346              12.0                 NaN                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
401               NaN          2017.0               a55475b1
3030              NaN          2008.0               a55475b1
4075           2019.0          2005.0               a55475b1
4816              NaN          2016.0               a55475b1
346               NaN          2017.0               a55475b1

     subjectroles_name_838m
401                a55475b1
3030               a55475b1
4075               a55475b1
4816               a55475b1
346                a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
8254    53928                        a55475b1                        a55475b1
5360    53895                        a55475b1                        a55475b1
5371    53895                        a55475b1                        a55475b1
8333    53929                        a55475b1                        a55475b1
7828    53926                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
8254                              NaN                             NaN
5360                              NaN                             NaN
5371                              NaN                             NaN
8333                              NaN                             NaN
7828                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
8254                        a55475b1                        a55475b1
5360                        a55475b1                        a55475b1
5371                        a55475b1                        a55475b1
8333                        a55475b1                        a55475b1
7828                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
8254           2          10             NaN            0.0              NaN
5360           6          20             NaN            0.0              NaN
5371           6          31             NaN            NaN              NaN
8333           0          17             0.0            NaN              7.0
7828          23           4             NaN            NaN              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
8254             12.0                 NaN                 0.0
5360             10.0                 NaN                 0.0
5371              9.0                 NaN                 NaN
8333              7.0                 0.0                 NaN
7828              6.0                 NaN                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
8254              NaN          2007.0               a55475b1
5360              NaN          2018.0               a55475b1
5371              NaN          2019.0               a55475b1
8333           2019.0          2010.0               a55475b1
7828              NaN          2018.0               a55475b1

     subjectroles_name_838m
8254               a55475b1
5360               a55475b1
5371               a55475b1
8333               a55475b1
7828               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
11602    53963                        a55475b1
11467    53961                        a55475b1
14288    53994                        a55475b1
10445    53950                        a55475b1
11951    53970                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
11602                        a55475b1                              NaN
11467                        a55475b1                              NaN
14288                        a55475b1                              NaN
10445                        a55475b1                              NaN
11951                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
11602                             NaN                        a55475b1
11467                             NaN                        a55475b1
14288                             NaN                        a55475b1
10445                             NaN                        a55475b1
11951                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
11602                        a55475b1           0          34             NaN
11467                        a55475b1           0           7             0.0
14288                        a55475b1           0          32             NaN
10445                        a55475b1           0           5             NaN
11951                        a55475b1           0          35             NaN

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
11602            NaN             12.0              NaN                 NaN
11467            NaN              9.0              9.0                 0.0
14288            NaN              NaN             10.0                 NaN
10445            NaN              7.0              NaN                 NaN
11951            NaN              NaN              1.0                 NaN

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
11602                 NaN           2020.0             NaN
11467                 NaN           2018.0          2018.0
14288                 NaN              NaN          2007.0
10445                 NaN           2018.0             NaN
11951                 NaN              NaN          2016.0

      subjectroles_name_541m subjectroles_name_838m
11602               a55475b1               a55475b1
11467               a55475b1               a55475b1
14288               a55475b1               a55475b1
10445               a55475b1               a55475b1
11951               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_6.csv

Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
1482    43323                        a55475b1                        a55475b1
1551    43338                        a55475b1                        a55475b1
4496    43375                        a55475b1                        a55475b1
2477    43351                        a55475b1                        a55475b1
2041    43344                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
1482                              NaN                             NaN
1551                              NaN                             NaN
4496                              NaN                             NaN
2477                              NaN                             NaN
2041                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
1482                        a55475b1                        a55475b1
1551                        a55475b1                        a55475b1
4496                        a55475b1                        a55475b1
2477                        a55475b1                        a55475b1
2041                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
1482           3          18             NaN            0.0              8.0
1551           0           3          1892.0            NaN              5.0
4496           1           8             0.0            NaN             10.0
2477           1           5             NaN            0.0              7.0
2041           9          13             NaN            0.0              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
1482              8.0                 NaN                 0.0
1551              5.0            7128.314                 NaN
4496              NaN               0.000                 NaN
2477              7.0                 NaN                 0.0
2041              3.0                 NaN                 0.0

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
1482           2020.0          2019.0               a55475b1
1551           2018.0          2010.0               a55475b1
4496           2019.0             NaN               a55475b1
2477           2019.0          2018.0               a55475b1
2041              NaN          2018.0               a55475b1

     subjectroles_name_838m
1482               a55475b1
1551               a55475b1
4496               a55475b1
2477               a55475b1
2041               a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
7721    43428                        a55475b1                        a55475b1
5662    43393                        a55475b1                        a55475b1
6070    43402                        a55475b1                        a55475b1
5830    43395                        a55475b1                        a55475b1
9964    43456                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
7721                              NaN                             NaN
5662                              NaN                             NaN
6070                              NaN                             NaN
5830                              NaN                             NaN
9964                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
7721                        a55475b1                        a55475b1
5662                        a55475b1                        a55475b1
6070                        a55475b1                        a55475b1
5830                        a55475b1                        a55475b1
9964                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
7721           1          17             NaN            0.0              7.0
5662           6          10             NaN            NaN              NaN
6070           0          34             NaN            NaN              NaN
5830           3          10             NaN          813.0              NaN
9964           6           4             NaN            0.0              NaN

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
7721              7.0                 NaN               0.000
5662             12.0                 NaN                 NaN
6070             12.0                 NaN                 NaN
5830             12.0                 NaN           64193.133
9964              6.0                 NaN               0.000

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
7721           2020.0          2007.0               a55475b1
5662              NaN          2018.0               a55475b1
6070              NaN          2008.0               a55475b1
5830              NaN          2011.0               a55475b1
9964              NaN          2017.0               a55475b1

     subjectroles_name_838m
7721               a55475b1
5662               a55475b1
6070               a55475b1
5830               a55475b1
9964               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
14556    43519                        a55475b1
11988    43495                        a55475b1
12558    43501                        a55475b1
12384    43499                        a55475b1
10739    43469                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
14556                        a55475b1                              NaN
11988                        a55475b1                              NaN
12558                        a55475b1                              NaN
12384                        a55475b1                              NaN
10739                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
14556                             NaN                        a55475b1
11988                             NaN                        a55475b1
12558                             NaN                        a55475b1
12384                             NaN                        a55475b1
10739                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
14556                        a55475b1           2          24             NaN
11988                        a55475b1           0          24             NaN
12558                        a55475b1           5           6             NaN
12384                        a55475b1           0          12             0.0
10739                        a55475b1           0          11             NaN

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
14556            0.0              NaN              2.0                 NaN
11988            0.0              NaN              2.0                 NaN
12558            0.0              NaN              8.0                 NaN
12384            0.0              2.0              2.0                 0.0
10739            NaN              NaN              1.0                 NaN

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
14556                 0.0              NaN          2010.0
11988                 0.0              NaN          2019.0
12558                 0.0              NaN          2016.0
12384                 0.0           2019.0          2013.0
10739                 NaN              NaN          2006.0

      subjectroles_name_541m subjectroles_name_838m
14556               a55475b1               a55475b1
11988               a55475b1               a55475b1
12558               a55475b1               a55475b1
12384               a55475b1               a55475b1
10739               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_1_3.csv
Sample of rows from Chunk 0:
      case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
586     52061                       NaN                      NaN
2598    52302                       NaN                      NaN
3996    52491                       NaN                      NaN
415     52040                       NaN                      NaN
2770    52322                       NaN                      NaN

     classificationofcontr_13m classificationofcontr_400m contractst_545m  \
586                   a55475b1                   a55475b1        a55475b1
2598                  a55475b1                   a55475b1        a55475b1
3996                  a55475b1                   a55475b1        a55475b1
415                   a55475b1                   a55475b1        a55475b1
2770                  a55475b1                   ea6782cc        a55475b1

     contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
586         a55475b1                   NaN           NaN           NaN  ...
2598        a55475b1                   NaN           NaN           NaN  ...
3996        a55475b1                   NaN           NaN           NaN  ...
415         a55475b1                   NaN           NaN           NaN  ...
2770        7241344e                   NaN           NaN           NaN  ...

     residualamount_488a residualamount_856a subjectrole_182m subjectrole_93m  \
586                  NaN                 NaN         a55475b1        a55475b1
2598                 NaN                 NaN         a55475b1        a55475b1
3996                 NaN                 NaN         a55475b1        a55475b1
415                  NaN                 NaN         a55475b1        a55475b1
2770                 NaN                 NaN         a55475b1        a55475b1

     totalamount_6a  totalamount_996a  totaldebtoverduevalue_178a  \
586             NaN               NaN                         NaN
2598            NaN               NaN                         NaN
3996            NaN               NaN                         NaN
415             NaN               NaN                         NaN
2770        43600.0               NaN                         NaN

     totaldebtoverduevalue_718a  totaloutstanddebtvalue_39a  \
586                         NaN                         NaN
2598                        NaN                         NaN
3996                        NaN                         NaN
415                         NaN                         NaN
2770                        NaN                         NaN

      totaloutstanddebtvalue_668a
586                           NaN
2598                          NaN
3996                          NaN
415                           NaN
2770                          NaN

[5 rows x 79 columns]
Sample of rows from Chunk 1:
      case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
6501    52791                       NaN                      NaN
6323    52771                       NaN                      NaN
5055    52619                       NaN                      NaN
5706    52698                     438.0                      NaN
9072    53094                       NaN                      NaN

     classificationofcontr_13m classificationofcontr_400m contractst_545m  \
6501                  a55475b1                   a55475b1        a55475b1
6323                  a55475b1                   a55475b1        a55475b1
5055                  a55475b1                   a55475b1        a55475b1
5706                  a55475b1                   01f63ac8        a55475b1
9072                  a55475b1                   a55475b1        a55475b1

     contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
6501        a55475b1                   NaN           NaN           NaN  ...
6323        a55475b1                   NaN           NaN           NaN  ...
5055        a55475b1                   NaN           NaN           NaN  ...
5706        7241344e                   NaN           NaN           NaN  ...
9072        a55475b1                   NaN           NaN           NaN  ...

     residualamount_488a residualamount_856a subjectrole_182m subjectrole_93m  \
6501                 NaN                 NaN         a55475b1        a55475b1
6323                 NaN                 NaN         a55475b1        a55475b1
5055                 NaN                 NaN         a55475b1        a55475b1
5706                 NaN                 NaN         a55475b1        a55475b1
9072                 NaN                 NaN         a55475b1        a55475b1

     totalamount_6a  totalamount_996a  totaldebtoverduevalue_178a  \
6501            NaN               NaN                         NaN
6323            NaN               NaN                         NaN
5055            NaN               NaN                         NaN
5706         1000.0               NaN                         NaN
9072            NaN               NaN                         NaN

     totaldebtoverduevalue_718a  totaloutstanddebtvalue_39a  \
6501                        NaN                         NaN
6323                        NaN                         NaN
5055                        NaN                         NaN
5706                        NaN                         NaN
9072                        NaN                         NaN

      totaloutstanddebtvalue_668a
6501                          NaN
6323                          NaN
5055                          NaN
5706                          NaN
9072                          NaN

[5 rows x 79 columns]

Sample of rows from Chunk 2:
       case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
13368    53640                       NaN                      NaN
11720    53430                       NaN                      NaN
14337    53760                       NaN                      NaN
11236    53368                       NaN                      NaN
13322    53634                       NaN                      NaN

      classificationofcontr_13m classificationofcontr_400m contractst_545m  \
13368                  a55475b1                   a55475b1        a55475b1
11720                  a55475b1                   a55475b1        a55475b1
14337                  a55475b1                   a55475b1        a55475b1
11236                  a55475b1                   a55475b1        a55475b1
13322                  a55475b1                   a55475b1        a55475b1

      contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
13368        a55475b1                   NaN           NaN           NaN  ...
11720        a55475b1                   NaN           NaN           NaN  ...
14337        a55475b1                   NaN           NaN           NaN  ...
11236        a55475b1                   NaN           NaN           NaN  ...
13322        a55475b1                   NaN           NaN           NaN  ...

      residualamount_488a residualamount_856a subjectrole_182m  \
13368                 NaN                 NaN         a55475b1
11720                 NaN                 NaN         a55475b1
14337                 NaN                 NaN         a55475b1
11236                 NaN                 NaN         a55475b1
13322                 NaN                 NaN         a55475b1

      subjectrole_93m totalamount_6a  totalamount_996a  \
13368        a55475b1            NaN               NaN
11720        a55475b1            NaN               NaN
14337        a55475b1            NaN               NaN
11236        a55475b1            NaN               NaN
13322        a55475b1            NaN               NaN

       totaldebtoverduevalue_178a totaldebtoverduevalue_718a  \
13368                         NaN                        NaN
11720                         NaN                        NaN
14337                         NaN                        NaN
11236                         NaN                        NaN
13322                         NaN                        NaN

       totaloutstanddebtvalue_39a  totaloutstanddebtvalue_668a
13368                         NaN                          NaN
11720                         NaN                          NaN
14337                         NaN                          NaN
11236                         NaN                          NaN
13322                         NaN                          NaN

[5 rows x 79 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_b_1.csv
Sample of rows from Chunk 0:
      case_id  amount_1115a classificationofcontr_1114m contractdate_551d  \
2292    42915           NaN                    ea6782cc        2012-10-25
1467    33925           NaN                    ea6782cc        2017-10-14
260     16093           NaN                    ea6782cc        2015-12-31
3377   107604      200000.0                    ea6782cc        2018-06-19
2971    53312           NaN                    ea6782cc        2016-12-15

     contractmaturitydate_151d contractst_516m contracttype_653m  \
2292                2020-10-25        b919198c          1c9c5356
1467                2019-10-14        7241344e          1c9c5356
260                 2019-12-31        7241344e          1c9c5356
3377                2020-12-19        7241344e          4257cbed
2971                2020-12-15        7241344e          1c9c5356

      credlmt_1052a  credlmt_228a  credlmt_3940954a  ... pmtmethod_731m  \
2292        29420.0           NaN           29420.0  ...       a55475b1
1467        14978.0           NaN           14978.0  ...       a55475b1
260         40000.0           NaN           40000.0  ...       a55475b1
3377            NaN           NaN               NaN  ...       f6e26148
2971        20000.0           NaN               0.0  ...       a55475b1

      pmtnumpending_403l  purposeofcred_722m  residualamount_1093a  \
2292                 NaN            60c73645                   NaN
1467                 NaN            60c73645                   NaN
260                  NaN            60c73645                   NaN
3377                23.0            60c73645                   NaN
2971                 NaN            60c73645                   NaN

      residualamount_127a  residualamount_3940956a  subjectrole_326m  \
2292               0.0000                   0.0000          ab3c25cf
1467            5459.9463                5459.9463          ab3c25cf
260            27316.6540               27316.6540          ab3c25cf
3377                  NaN                      NaN          a55475b1
2971            3500.0000                   0.0000          ab3c25cf

      subjectrole_43m  totalamount_503a  totalamount_881a
2292         a55475b1           29420.0               NaN
1467         a55475b1           14978.0               NaN
260          ab3c25cf           40000.0          108400.0
3377         a55475b1               NaN               NaN
2971         ab3c25cf           20000.0           43434.0

[5 rows x 45 columns]
Sample of rows from Chunk 1:
      case_id  amount_1115a classificationofcontr_1114m contractdate_551d  \
5212   134324       11061.0                    ea6782cc        2018-07-13
7733   169458      105980.0                    ea6782cc        2019-08-14
5288   134940      100000.0                    00135d9c        2019-02-25
7625   168660      217937.0                    ea6782cc        2019-01-20
5156   133898      419900.0                    ea6782cc        2014-11-09

     contractmaturitydate_151d contractst_516m contracttype_653m  \
5212                2019-07-12        7241344e          4257cbed
7733                2023-08-15        7241344e          4257cbed
5288                2020-08-20        7241344e          4257cbed
7625                2021-07-20        7241344e          4257cbed
5156                2019-11-29        a52d5641          4257cbed

      credlmt_1052a  credlmt_228a  credlmt_3940954a  ... pmtmethod_731m  \
5212            NaN           NaN               NaN  ...       f6e26148
7733            NaN           NaN               NaN  ...       f6e26148
5288            NaN           NaN               NaN  ...       f6e26148
7625            NaN           NaN               NaN  ...       f6e26148
5156            NaN           NaN               NaN  ...       dbcbe8f8

      pmtnumpending_403l  purposeofcred_722m  residualamount_1093a  \
5212                 2.0            60c73645                   NaN
7733                46.0            60c73645                   NaN
5288                14.0            60c73645                   NaN
7625                21.0            60c73645                   NaN
5156                 6.0            96a8fdfe                   NaN

      residualamount_127a  residualamount_3940956a  subjectrole_326m  \
5212                  NaN                      NaN          a55475b1
7733                  NaN                      NaN          fa4f56f1
5288                  NaN                      NaN          a55475b1
7625                  NaN                      NaN          ab3c25cf
5156                  NaN                      NaN          ab3c25cf

      subjectrole_43m  totalamount_503a  totalamount_881a
5212         a55475b1               NaN               NaN
7733         ab3c25cf          200000.0          172163.8
5288         a55475b1               NaN               NaN
7625         ab3c25cf         1156337.0          419991.0
5156         a55475b1          419900.0               NaN

[5 rows x 45 columns]

Sample of rows from Chunk 2:
       case_id  amount_1115a classificationofcontr_1114m contractdate_551d  \
11455   202775           NaN                    a55475b1               NaN
10416   192456           NaN                    ea6782cc        2018-08-02
12626   210996        8800.0                    01f63ac8        2020-02-01
10257   191322      134480.0                    ea6782cc        2019-12-26
11600   203715      128740.6                    ea6782cc        2019-05-08

      contractmaturitydate_151d contractst_516m contracttype_653m  \
11455                       NaN        a55475b1          a55475b1
10416                2020-01-14        7241344e          1c9c5356
12626                2020-03-02        7241344e          4257cbed
10257                2022-12-26        7241344e          4257cbed
11600                2021-05-08        7241344e          4257cbed

       credlmt_1052a  credlmt_228a  credlmt_3940954a  ... pmtmethod_731m  \
11455            NaN           NaN               NaN  ...       a55475b1
10416       156620.0     365500.22           40600.0  ...       a55475b1
12626            NaN           NaN               NaN  ...       dbcbe8f8
10257            NaN           NaN               NaN  ...       f6e26148
11600            NaN           NaN               NaN  ...       f6e26148

       pmtnumpending_403l  purposeofcred_722m  residualamount_1093a  \
11455                 NaN            a55475b1                   NaN
10416                 NaN            60c73645                   0.0
12626                 1.0            96a8fdfe                   NaN
10257                36.0            60c73645                   NaN
11600                15.0            60c73645                   NaN

       residualamount_127a  residualamount_3940956a  subjectrole_326m  \
11455                  NaN                      NaN          a55475b1
10416            111018.06                      0.0          ab3c25cf
12626                  NaN                      NaN          a55475b1
10257                  NaN                      NaN          a55475b1
11600                  NaN                      NaN          a55475b1

       subjectrole_43m  totalamount_503a  totalamount_881a
11455         ab3c25cf               NaN         116129.20
10416         ab3c25cf          156620.0         365500.22
12626         a55475b1               NaN               NaN
10257         a55475b1               NaN               NaN
11600         a55475b1               NaN               NaN

[5 rows x 45 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_static_0_1.csv
Sample of rows from Chunk 0:
      case_id  actualdpdtolerance_344p  amtinstpaidbefduel24m_4187115a  \
4246    45157                      NaN                             NaN
249     41160                      NaN                             NaN
250     41161                      NaN                             NaN
4836    45747                      NaN                             NaN
4013    44924                      NaN                             NaN

      annuity_780a  annuitynextmonth_57a  applicationcnt_361l  \
4246      6016.200                   0.0                  0.0
249       5437.000                   0.0                  0.0
250       9235.601                   0.0                  0.0
4836      6183.200                   0.0                  0.0
4013      1871.000                   0.0                  0.0

      applications30d_658l  applicationscnt_1086l  applicationscnt_464l  \
4246                   0.0                    0.0                   0.0
249                    0.0                    0.0                   0.0
250                    0.0                    0.0                   0.0
4836                   0.0                    0.0                   0.0
4013                   0.0                    6.0                   0.0

      applicationscnt_629l  ...  sellerplacecnt_915l  sellerplacescnt_216l  \
4246                   0.0  ...                  0.0                   2.0
249                    0.0  ...                  0.0                   0.0
250                    0.0  ...                  0.0                   2.0
4836                   0.0  ...                  0.0                   1.0
4013                   0.0  ...                  0.0                   0.0

      sumoutstandtotal_3546847a  sumoutstandtotalest_4493215a  totaldebt_9a  \
4246                        NaN                           NaN           0.0
249                         NaN                           NaN           0.0
250                         NaN                           NaN           0.0
4836                        NaN                           NaN           0.0
4013                        NaN                           NaN           0.0

      totalsettled_863a  totinstallast1m_4525188a  twobodfilling_608l  \
4246                0.0                       NaN                  FO
249                 0.0                       NaN                  FO
250                 0.0                       NaN                  FO
4836                0.0                       NaN                  FO
4013                0.0                       NaN                  BO

      typesuite_864l  validfrom_1069d
4246              AL              NaN
249               AL              NaN
250              NaN              NaN
4836              AL              NaN
4013              AL              NaN

[5 rows x 168 columns]
Sample of rows from Chunk 1:
      case_id  actualdpdtolerance_344p  amtinstpaidbefduel24m_4187115a  \
9780    50691                      NaN                             NaN
6197    47108                      NaN                             NaN
9512    50423                      NaN                             NaN
7835    48746                      NaN                             NaN
5153    46064                      NaN                             NaN

      annuity_780a  annuitynextmonth_57a  applicationcnt_361l  \
9780        3818.8                   0.0                  0.0
6197        6140.0                   0.0                  0.0
9512        4681.4                   0.0                  0.0
7835        3539.6                   0.0                  0.0
5153        6694.6                   0.0                  0.0

      applications30d_658l  applicationscnt_1086l  applicationscnt_464l  \
9780                   0.0                    0.0                   0.0
6197                   0.0                    0.0                   0.0
9512                   0.0                    0.0                   0.0
7835                   0.0                    0.0                   0.0
5153                   0.0                    0.0                   0.0

      applicationscnt_629l  ...  sellerplacecnt_915l  sellerplacescnt_216l  \
9780                   0.0  ...                  0.0                   0.0
6197                   0.0  ...                  0.0                   1.0
9512                   0.0  ...                  0.0                   1.0
7835                   0.0  ...                  0.0                   0.0
5153                   0.0  ...                  0.0                   4.0

      sumoutstandtotal_3546847a  sumoutstandtotalest_4493215a  totaldebt_9a  \
9780                        NaN                           NaN           0.0
6197                        NaN                           NaN           0.0
9512                        NaN                           NaN           0.0
7835                        NaN                           NaN           0.0
5153                        NaN                           NaN           0.0

      totalsettled_863a  totinstallast1m_4525188a  twobodfilling_608l  \
9780                0.0                       NaN                  BO
6197                0.0                       NaN                  BO
9512                0.0                       NaN                  FO
7835                0.0                       NaN                  FO
5153                0.0                       NaN                  FO

      typesuite_864l  validfrom_1069d
9780              AL              NaN
6197             NaN              NaN
9512              AL              NaN
7835             NaN              NaN
5153              AL              NaN

[5 rows x 168 columns]

Sample of rows from Chunk 2:
       case_id  actualdpdtolerance_344p  amtinstpaidbefduel24m_4187115a  \
10768    51679                      NaN                             NaN
13014    53925                      NaN                             NaN
12062    52973                      NaN                             NaN
13387    54298                      NaN                             NaN
12679    53590                      NaN                             NaN

       annuity_780a  annuitynextmonth_57a  applicationcnt_361l  \
10768     6111.8003                   0.0                  0.0
13014     5483.2000                   0.0                  0.0
12062     7945.8003                   0.0                  0.0
13387    15162.8000                   0.0                  0.0
12679     3902.4001                   0.0                  0.0

       applications30d_658l  applicationscnt_1086l  applicationscnt_464l  \
10768                   0.0                    0.0                   0.0
13014                   0.0                    0.0                   0.0
12062                   0.0                    0.0                   0.0
13387                   0.0                    0.0                   0.0
12679                   0.0                    0.0                   0.0

       applicationscnt_629l  ...  sellerplacecnt_915l  sellerplacescnt_216l  \
10768                   0.0  ...                  0.0                   0.0
13014                   0.0  ...                  0.0                   0.0
12062                   0.0  ...                  0.0                   0.0
13387                   0.0  ...                  0.0                   0.0
12679                   0.0  ...                  0.0                   0.0

       sumoutstandtotal_3546847a  sumoutstandtotalest_4493215a  totaldebt_9a  \
10768                        NaN                           NaN           0.0
13014                        NaN                           NaN           0.0
12062                        NaN                           NaN           0.0
13387                        NaN                           NaN           0.0
12679                        NaN                           NaN           0.0

       totalsettled_863a  totinstallast1m_4525188a  twobodfilling_608l  \
10768                0.0                       NaN                  FO
13014                0.0                       NaN                  FO
12062                0.0                       NaN                  FO
13387                0.0                       NaN                  FO
12679                0.0                       NaN                  FO

       typesuite_864l  validfrom_1069d
10768              AL              NaN
13014              AL              NaN
12062              AL              NaN
13387             NaN              NaN
12679              AL              NaN

[5 rows x 168 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_base.csv
Sample of rows from Chunk 0:
      case_id date_decision   month  week_num  target
667       667    2019-01-09  201901         1       0
712       712    2019-01-10  201901         1       0
3041     3041    2019-01-29  201901         4       0
2819     2819    2019-01-28  201901         3       0
1678     1678    2019-01-18  201901         2       0
Sample of rows from Chunk 1:
      case_id date_decision   month  week_num  target
8956     8956    2019-03-25  201903        11       0
6709     6709    2019-03-01  201903         8       0
6334     6334    2019-02-27  201902         8       0
5678     5678    2019-02-21  201902         7       0
9102     9102    2019-03-26  201903        12       0
Sample of rows from Chunk 2:
       case_id date_decision   month  week_num  target
13912    13912    2019-05-06  201905        17       0
12518    12518    2019-04-22  201904        15       0
13688    13688    2019-05-03  201905        17       0
11376    11376    2019-04-12  201904        14       0
13623    13623    2019-05-02  201905        17       0
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_0.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
642       428                        a55475b1                        a55475b1
3912      591                        9a0c095e                        a55475b1
1218      459                        a55475b1                        a55475b1
410       418                        a55475b1                        a55475b1
362       417                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
642                               NaN                             NaN
3912                              0.0                             NaN
1218                              NaN                             NaN
410                               NaN                             NaN
362                               NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
642                         a55475b1                        a55475b1
3912                        a55475b1                        c7a5ad39
1218                        a55475b1                        a55475b1
410                         a55475b1                        a55475b1
362                         a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
642            0           6             0.0            NaN              8.0
3912           1           0             NaN            NaN              2.0
1218           1          18             NaN            NaN              8.0
410            0           2             NaN            NaN              4.0
362            0           2             0.0            NaN              4.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
642               NaN                 0.0                 NaN
3912              NaN                 NaN                 NaN
1218              NaN                 NaN                 NaN
410               NaN                 NaN                 NaN
362               NaN                 0.0                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
642            2017.0             NaN               a55475b1
3912           2018.0             NaN               a55475b1
1218           2019.0             NaN               a55475b1
410            2018.0             NaN               a55475b1
362            2017.0             NaN               a55475b1

     subjectroles_name_838m
642                a55475b1
3912               ab3c25cf
1218               a55475b1
410                a55475b1
362                a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
9487      863                        a55475b1                        a55475b1
5442      672                        a55475b1                        a55475b1
7280      759                        a55475b1                        a55475b1
7354      763                        a55475b1                        a55475b1
6537      727                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
9487                              NaN                             NaN
5442                              NaN                             NaN
7280                              NaN                             NaN
7354                              NaN                             NaN
6537                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
9487                        a55475b1                        a55475b1
5442                        a55475b1                        a55475b1
7280                        a55475b1                        a55475b1
7354                        a55475b1                        a55475b1
6537                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
9487           2           7             0.0            NaN              9.0
5442           2           6             NaN            NaN              8.0
7280           0          20             0.0            NaN             10.0
7354           1          10             NaN            NaN             12.0
6537           1          21            13.0            NaN             11.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
9487              NaN              0.0000                 NaN
5442              NaN                 NaN                 NaN
7280              NaN              0.0000                 NaN
7354              NaN                 NaN                 NaN
6537              NaN           3421.7441                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
9487           2018.0             NaN               a55475b1
5442           2018.0             NaN               a55475b1
7280           2018.0             NaN               a55475b1
7354           2018.0             NaN               a55475b1
6537           2018.0             NaN               a55475b1

     subjectroles_name_838m
9487               a55475b1
5442               a55475b1
7280               a55475b1
7354               a55475b1
6537               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
11205      943                        a55475b1
14774     1102                        a55475b1
10252      896                        a55475b1
10364      901                        a55475b1
10974      935                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
11205                        a55475b1                              NaN
14774                        a55475b1                              NaN
10252                        a55475b1                              NaN
10364                        a55475b1                              NaN
10974                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
11205                             NaN                        a55475b1
14774                             NaN                        a55475b1
10252                             NaN                        a55475b1
10364                             NaN                        a55475b1
10974                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
11205                        a55475b1           1           9             7.0
14774                        a55475b1           0           2             NaN
10252                        a55475b1           0          16             0.0
10364                        a55475b1           0           8             0.0
10974                        a55475b1           0           6             0.0

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
11205            NaN             11.0              NaN             409.224
14774            NaN              4.0              NaN                 NaN
10252            NaN              6.0              NaN               0.000
10364            NaN             10.0              NaN               0.000
10974            NaN              8.0              NaN               0.000

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
11205                 NaN           2018.0             NaN
14774                 NaN           2018.0             NaN
10252                 NaN           2018.0             NaN
10364                 NaN           2017.0             NaN
10974                 NaN           2018.0             NaN

      subjectroles_name_541m subjectroles_name_838m
11205               a55475b1               a55475b1
14774               a55475b1               a55475b1
10252               a55475b1               a55475b1
10364               a55475b1               a55475b1
10974               a55475b1               a55475b1
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_1_2.csv
Sample of rows from Chunk 0:
      case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
3847    41364                       NaN                      NaN
993     41021                       NaN                      NaN
2033    41150                       NaN                      NaN
3543    41327                       NaN                      NaN
1941    41139                       NaN                      NaN

     classificationofcontr_13m classificationofcontr_400m contractst_545m  \
3847                  a55475b1                   a55475b1        a55475b1
993                   a55475b1                   a55475b1        a55475b1
2033                  a55475b1                   ea6782cc        a55475b1
3543                  a55475b1                   29e648ae        a55475b1
1941                  a55475b1                   00135d9c        a55475b1

     contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
3847        a55475b1                   NaN           NaN           NaN  ...
993         a55475b1                   NaN           NaN           NaN  ...
2033        7241344e                   NaN       46000.0           NaN  ...
3543        7241344e                   NaN           NaN           NaN  ...
1941        7241344e                   NaN           NaN           NaN  ...

     residualamount_488a residualamount_856a subjectrole_182m subjectrole_93m  \
3847                 NaN                 NaN         a55475b1        a55475b1
993                  NaN                 NaN         a55475b1        a55475b1
2033                 0.0                 NaN         a55475b1        a55475b1
3543                 NaN                 NaN         a55475b1        a55475b1
1941                 NaN                 NaN         a55475b1        a55475b1

     totalamount_6a  totalamount_996a  totaldebtoverduevalue_178a  \
3847            NaN               NaN                         NaN
993             NaN               NaN                         NaN
2033            NaN               NaN                         NaN
3543        18204.0               NaN                         NaN
1941        10000.0               NaN                         NaN

     totaldebtoverduevalue_718a  totaloutstanddebtvalue_39a  \
3847                        NaN                         NaN
993                         NaN                         NaN
2033                        NaN                         NaN
3543                        NaN                         NaN
1941                        NaN                         NaN

      totaloutstanddebtvalue_668a
3847                          NaN
993                           NaN
2033                          NaN
3543                          NaN
1941                          NaN

[5 rows x 79 columns]
Sample of rows from Chunk 1:
      case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
7680    41801                       NaN                      NaN
8946    41956                       NaN                      NaN
9252    41992                       NaN                      NaN
5924    41599                     365.0                      NaN
6828    41704                       NaN                      NaN

     classificationofcontr_13m classificationofcontr_400m contractst_545m  \
7680                  ea6782cc                   ea6782cc        b919198c
8946                  a55475b1                   a55475b1        a55475b1
9252                  a55475b1                   a55475b1        a55475b1
5924                  a55475b1                   01f63ac8        a55475b1
6828                  a55475b1                   a55475b1        a55475b1

     contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
7680        7241344e                   NaN       27400.0           0.0  ...
8946        a55475b1                   NaN           NaN           NaN  ...
9252        a55475b1                   NaN           NaN           NaN  ...
5924        7241344e                   NaN           NaN           NaN  ...
6828        a55475b1                   NaN           NaN           NaN  ...

     residualamount_488a residualamount_856a subjectrole_182m subjectrole_93m  \
7680                 0.0                 0.0         ab3c25cf        ab3c25cf
8946                 NaN                 NaN         a55475b1        a55475b1
9252                 NaN                 NaN         a55475b1        a55475b1
5924                 NaN                 NaN         a55475b1        a55475b1
6828                 NaN                 NaN         a55475b1        a55475b1

     totalamount_6a  totalamount_996a  totaldebtoverduevalue_178a  \
7680            NaN               NaN                   12186.135
8946            NaN               NaN                         NaN
9252            NaN               NaN                         NaN
5924        10600.0               NaN                         NaN
6828            NaN               NaN                         NaN

     totaldebtoverduevalue_718a  totaloutstanddebtvalue_39a  \
7680                        0.0                         0.0
8946                        NaN                         NaN
9252                        NaN                         NaN
5924                        NaN                         NaN
6828                        NaN                         NaN

      totaloutstanddebtvalue_668a
7680                          0.0
8946                          NaN
9252                          NaN
5924                          NaN
6828                          NaN

[5 rows x 79 columns]

Sample of rows from Chunk 2:
       case_id  annualeffectiverate_199l  annualeffectiverate_63l  \
12378    42334                       NaN                      NaN
12705    42369                      0.45                      NaN
14547    42584                       NaN                    47.77
12079    42296                       NaN                      NaN
14173    42542                       NaN                      NaN

      classificationofcontr_13m classificationofcontr_400m contractst_545m  \
12378                  a55475b1                   a55475b1        a55475b1
12705                  a55475b1                   01f63ac8        a55475b1
14547                  ea6782cc                   a55475b1        7241344e
12079                  a55475b1                   a55475b1        a55475b1
14173                  a55475b1                   a55475b1        a55475b1

      contractst_964m  contractsum_5085717l  credlmt_230a  credlmt_935a  ...  \
12378        a55475b1                   NaN           NaN           NaN  ...
12705        7241344e                   NaN           NaN           NaN  ...
14547        a55475b1                   NaN           NaN           NaN  ...
12079        a55475b1                   NaN           NaN           NaN  ...
14173        a55475b1                   NaN           NaN           NaN  ...

      residualamount_488a residualamount_856a subjectrole_182m  \
12378                 NaN                 NaN         a55475b1
12705                 NaN                 NaN         a55475b1
14547                 NaN                 NaN         ab3c25cf
12079                 NaN                 NaN         a55475b1
14173                 NaN                 NaN         a55475b1

      subjectrole_93m totalamount_6a  totalamount_996a  \
12378        a55475b1            NaN               NaN
12705        a55475b1         3000.0               NaN
14547        a55475b1            NaN           64320.0
12079        a55475b1            NaN               NaN
14173        a55475b1            NaN               NaN

       totaldebtoverduevalue_178a totaldebtoverduevalue_718a  \
12378                         NaN                        NaN
12705                         NaN                        NaN
14547                         0.0                        NaN
12079                         NaN                        NaN
14173                         NaN                        NaN

       totaloutstanddebtvalue_39a  totaloutstanddebtvalue_668a
12378                         NaN                          NaN
12705                         NaN                          NaN
14547                   94020.016                          NaN
12079                         NaN                          NaN
14173                         NaN                          NaN

[5 rows x 79 columns]
Processing file: /home/randolpwanjiru/DSP4380/Tabular/Tabular_new/csv_files/train/train_credit_bureau_a_2_5.csv
Sample of rows from Chunk 0:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
2100    37318                        a55475b1                        8fd95e4b
4611    37352                        a55475b1                        a55475b1
1291    37293                        a55475b1                        a55475b1
3116    37331                        a55475b1                        a55475b1
2148    37319                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
2100                              NaN                             0.0
4611                              NaN                             NaN
1291                              NaN                             NaN
3116                              NaN                             NaN
2148                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
2100                        c7a5ad39                        a55475b1
4611                        a55475b1                        a55475b1
1291                        a55475b1                        a55475b1
3116                        a55475b1                        a55475b1
2148                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
2100           2           0             NaN            NaN              NaN
4611           1          15           369.0            NaN              5.0
1291           0          19             0.0            NaN              9.0
3116           0          20             0.0            NaN             10.0
2148           0          12             0.0            0.0              2.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
2100              2.0                 NaN                 NaN
4611              NaN            9803.448                 NaN
1291              NaN               0.000                 NaN
3116              NaN               0.000                 NaN
2148              2.0               0.000                 0.0

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
2100              NaN          2018.0               ab3c25cf
4611           2018.0             NaN               a55475b1
1291           2019.0             NaN               a55475b1
3116           2018.0             NaN               a55475b1
2148           2019.0          2013.0               a55475b1

     subjectroles_name_838m
2100               a55475b1
4611               a55475b1
1291               a55475b1
3116               a55475b1
2148               a55475b1
Sample of rows from Chunk 1:
      case_id collater_typofvalofguarant_298m collater_typofvalofguarant_407m  \
7091    37383                        a55475b1                        a55475b1
9720    37420                        8fd95e4b                        9a0c095e
9903    37421                        a55475b1                        a55475b1
5369    37359                        a55475b1                        a55475b1
6650    37377                        a55475b1                        a55475b1

      collater_valueofguarantee_1124l  collater_valueofguarantee_876l  \
7091                              NaN                             NaN
9720                              0.0                             0.0
9903                              NaN                             NaN
5369                              NaN                             NaN
6650                              NaN                             NaN

     collaterals_typeofguarante_359m collaterals_typeofguarante_669m  \
7091                        a55475b1                        a55475b1
9720                        c7a5ad39                        c7a5ad39
9903                        a55475b1                        a55475b1
5369                        a55475b1                        a55475b1
6650                        a55475b1                        a55475b1

      num_group1  num_group2  pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  \
7091           1          11             NaN            NaN              1.0
9720           1           0             NaN            NaN              2.0
9903           0          15             0.0            NaN              5.0
5369           8          29             NaN            0.0              NaN
6650           0          14          1118.0            NaN              4.0

      pmts_month_706t  pmts_overdue_1140a  pmts_overdue_1152a  \
7091              1.0                 NaN                 NaN
9720              2.0                 NaN                 NaN
9903              NaN               0.000                 NaN
5369              7.0                 NaN                 0.0
6650              NaN            8063.704                 NaN

      pmts_year_1139t  pmts_year_507t subjectroles_name_541m  \
7091           2020.0          2017.0               a55475b1
9720           2019.0          2010.0               ab3c25cf
9903           2018.0             NaN               a55475b1
5369              NaN          2017.0               a55475b1
6650           2018.0             NaN               a55475b1

     subjectroles_name_838m
7091               a55475b1
9720               ab3c25cf
9903               a55475b1
5369               a55475b1
6650               a55475b1
Sample of rows from Chunk 2:
       case_id collater_typofvalofguarant_298m  \
13559    37478                        a55475b1
13978    37484                        a55475b1
14044    37486                        a55475b1
14412    37489                        a55475b1
12458    37463                        a55475b1

      collater_typofvalofguarant_407m  collater_valueofguarantee_1124l  \
13559                        a55475b1                              NaN
13978                        a55475b1                              NaN
14044                        a55475b1                              NaN
14412                        9a0c095e                              NaN
12458                        a55475b1                              NaN

       collater_valueofguarantee_876l collaterals_typeofguarante_359m  \
13559                             NaN                        a55475b1
13978                             NaN                        a55475b1
14044                             NaN                        a55475b1
14412                             0.0                        c7a5ad39
12458                             NaN                        a55475b1

      collaterals_typeofguarante_669m  num_group1  num_group2  pmts_dpd_1073p  \
13559                        a55475b1           1          23             NaN
13978                        a55475b1           0          22             0.0
14044                        a55475b1           1           4             NaN
14412                        a55475b1           1           0             NaN
12458                        a55475b1           9           2             NaN

       pmts_dpd_303p  pmts_month_158t  pmts_month_706t  pmts_overdue_1140a  \
13559            NaN              NaN              1.0                 NaN
13978            NaN             12.0              NaN                 0.0
14044            NaN              NaN              6.0                 NaN
14412            NaN              NaN              2.0                 NaN
12458            NaN              NaN              4.0                 NaN

       pmts_overdue_1152a  pmts_year_1139t  pmts_year_507t  \
13559                 NaN              NaN          2012.0
13978                 NaN           2019.0             NaN
14044                 NaN              NaN          2013.0
14412                 NaN              NaN          2005.0
12458                 NaN              NaN          2018.0

      subjectroles_name_541m subjectroles_name_838m
13559               a55475b1               a55475b1
13978               a55475b1               a55475b1
14044               a55475b1               a55475b1
14412               ab3c25cf               a55475b1
12458               a55475b1               a55475b1

In [8]:
# Generate descriptive statistics for the DataFrame
description = df.describe()

# Display the descriptive statistics
print(description)

             case_id  collater_valueofguarantee_1124l  \
count  480000.000000                     3.694000e+03
mean    41942.989256                     4.107968e+05
std     50364.568565                     4.616997e+06
min         0.000000                     0.000000e+00
25%      7308.000000                     0.000000e+00
50%     29838.000000                     0.000000e+00
75%     51332.000000                     0.000000e+00
max    250571.000000                     2.557694e+08

       collater_valueofguarantee_876l     num_group1     num_group2  \
count                    4.322000e+03  420000.000000  210000.000000
mean                     5.210778e+05       2.497798      11.689943
std                      1.323982e+07       4.974820       9.990992
min                      0.000000e+00       0.000000       0.000000
25%                      0.000000e+00       0.000000       3.000000
50%                      0.000000e+00       1.000000      10.000000
75%                      0.000000e+00       3.000000      19.000000
max                      8.400000e+08     127.000000      36.000000

       pmts_dpd_1073p  pmts_dpd_303p  pmts_month_158t  pmts_month_706t  \
count    50051.000000   46964.000000     90168.000000    100019.000000
mean        18.501409      99.044076         6.500000         6.500055
std        168.046352     784.381524         3.452072         3.452043
min          0.000000      -2.000000         1.000000         1.000000
25%          0.000000       0.000000         3.750000         4.000000
50%          0.000000       0.000000         6.500000         7.000000
75%          0.000000       0.000000         9.250000         9.500000
max       3906.000000  144000.000000        12.000000        12.000000

       pmts_overdue_1140a  ...  pmtdaysoverdue_1135p  pmtnumpending_403l  \
count        5.034400e+04  ...          14369.000000         8861.000000
mean         1.738464e+03  ...             41.944116           18.999210
std          2.994189e+04  ...            284.718255           23.761429
min          0.000000e+00  ...              0.000000            0.000000
25%          0.000000e+00  ...              0.000000            5.000000
50%          0.000000e+00  ...              0.000000           12.000000
75%          0.000000e+00  ...              0.000000           25.000000
max          1.370468e+06  ...           4049.000000          300.000000

       residualamount_1093a  residualamount_127a  residualamount_3940956a  \
count                2658.0         4.043000e+03             5.505000e+03
mean                    0.0         7.963782e+04             5.942897e+04
std                     0.0         1.114249e+05             9.656875e+04
min                     0.0         0.000000e+00             0.000000e+00
25%                     0.0         4.904880e+02             0.000000e+00
50%                     0.0         3.654392e+04             1.796760e+04
75%                     0.0         1.228225e+05             8.077182e+04
max                     0.0         1.477487e+06             1.448925e+06

       totalamount_503a  totalamount_881a          month     week_num  \
count      8.660000e+03      7.584000e+03   15000.000000  15000.00000
mean       2.333783e+05      2.802488e+05  201902.768933      9.29080
std        1.701718e+06      1.711119e+06       1.302634      5.44231
min        0.000000e+00      0.000000e+00  201901.000000      0.00000
25%        3.072950e+04      2.700000e+04  201902.000000      5.00000
50%        9.970760e+04      8.867360e+04  201903.000000      9.00000
75%        2.205232e+05      2.704545e+05  201904.000000     14.00000
max        1.400000e+08      1.390800e+08  201905.000000     20.00000

             target
count  15000.000000
mean       0.029933
std        0.170409
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 311 columns]

In [13]:
# Check for missing values in each column
missing_values = df.isna().sum()

# Display columns with missing values
columns_with_missing_values = missing_values[missing_values > 0]
print("Columns with missing values:")
print(columns_with_missing_values)

# Total number of missing values in the DataFrame
total_missing_values = missing_values.sum()
print("\nTotal number of missing values:", total_missing_values)
#number of rows and columns in the DataFrame
num_rows, num_columns = df.shape


print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

# Check for duplicate records
duplicate_records = df.duplicated()

# Count the number of duplicate records
num_duplicates = duplicate_records.sum()


print("Number of duplicate records:", num_duplicates)

Columns with missing values:
collater_typofvalofguarant_298m    315000
collater_typofvalofguarant_407m    315000
collater_valueofguarantee_1124l    476306
collater_valueofguarantee_876l     475678
collaterals_typeofguarante_359m    315000
                                    ...
totalamount_881a                   472416
date_decision                      465000
month                              465000
week_num                           465000
target                             465000
Length: 470, dtype: int64

Total number of missing values: 217868558
Number of rows: 480000
Number of columns: 472
Number of duplicate records: 0

In [21]:
# Select only numeric columns
numeric_columns = df.select_dtypes(include='number')

# Impute missing values in numeric columns with mean
cleaned_df = df.copy()
cleaned_df[numeric_columns.columns] = numeric_columns.fillna(numeric_columns.mean())


# Check if missing values were successfully imputed
imputation_check = (df[numeric_columns.columns].isna() == cleaned_df[numeric_columns.columns].isna()).all().all()

# Print the result
if imputation_check:
    print("Missing values were successfully imputed with mean in numeric columns.")
else:
    print("There was a problem with imputing missing values with mean in numeric columns.")

There was a problem with imputing missing values with mean in numeric columns.